extends layout/page-layout-3

block head
    meta(property="og:url" content="https://thegreatsingaporereplay.sg/alumni.html")
    meta(property="og:title" content="The Great Singapore Replay: Season 2")
    meta(property="og:image:secure_url" content="https://thegreatsingaporereplay.sg/clientlibs/images/global/alumni_og.jpg")
    title The Great Singapore Replay: Season 2 | Mentors

block content

    .alumni-page.body-contents
        .container-2
            .page-title(data-aos='fade-up')
                h3 OUR PAST ALUMNI
                p From a promising selection of emerging artists to now noteworthy talents making musical footprints all over Singapore and the world - these are the alumni of The Great Singapore Replay Season 1. Their stories are as beautiful as the music they reimagined. And their experiences will be nothing short of an inspiration to the future batch of artists who want to write their own piece of music history.
                p TGSR alumni included Debbi Koh, Jasmine Sokko, JAWN, Joie Tan,  Shak'thiya, Spacedays, The Betts, Theodora, Umar Sirhan and .gif.

            .row.partner-quotes(data-aos='fade-up')
                h5.title-blue Meet Our Featured Alumni

                .col-12.col-sm-12.col-md-4
                    .partner-logos(data-aos='flip-up')
                        img(src='clientlibs/images/mentors/img_gif_alumni@2x.png')
                .col-12.col-sm-12.col-md-8
                    .alumni-info
                        .title Joie Tan
                        .d-flex.flex-row.social-icons
                            a(href='https://www.facebook.com/joietanmusic' target='_blank')
                                img(src='clientlibs/images/global/icon-facebook@2x.png')
                            a(href='https://www.instagram.com/joietan/')
                                img(src='clientlibs/images/global/icon-instagram@2x.png' target='_blank')
                    .quotes-info.no-quotes-icon
                        p Joie's foray into the scene started in 2008 with her vocal-heavy takes on popular song covers on YouTube. Since then, she has crafted an iconic signature style and honeyed coo endorsed by producers like Avicii and Kygo. And thanks to TGSR Season 1, she fulfilled her dreams of showcasing her talents and launching her career. Her debut album released in 2018, features 10 self-written tracks and is available for streaming on all major platforms.
                    .quotes-info
                        p(style='padding-bottom:20px') TGSR Season 1 really gave a me a sense of history and exposed me to Singapore's long heritage of original music. It opened my eyes to the rich musical tradition that I'm now a living part of and exposed me to many like-minded peers and opportunities to push my music even further. - Joie
                
                    
            
            .row.partner-quotes(data-aos='fade-up')
                .col-12.col-sm-12.col-md-4
                    .partner-logos(data-aos='flip-up')
                        img(src='clientlibs/images/mentors/shaktiya.png')
                .col-12.col-sm-12.col-md-8
                    .alumni-info
                        .title Shak'thiya Subramaniamm
                        .d-flex.flex-row.social-icons
                            a(href='https://www.facebook.com/shakmoosic/' target='_blank')
                                img(src='clientlibs/images/global/icon-facebook@2x.png')
                            a(href='https://www.instagram.com/shakthiyas/' target='_blank')
                                img(src='clientlibs/images/global/icon-instagram@2x.png')
                    .quotes-info.no-quotes-icon
                        p He's known in the local music scene as just "Shak". This frontman of his own band began writing music during his National Service. His rich vocal timbre, intense emotional delivery and phenomenal stage presence saw him selected for mentorship programmes and events, including The Great Singapore Replay. Because of TGSR, connections opened up, giving him the opportunity to grow as a musician and performer. He's now working on his 5-track EP and is reaching audiences from Singapore to London.
                    .quotes-info
                        p I knew that music was more than a hobby. It has always been special to me. I'm constantly learning from others who are as passionate as I am. I was thrilled to be part of Season 1 because it meant I could co-create and learn from established artists, especially Charlie Lim. TGSR enriched my experience in the song production process in an authentic environment that imbued professionalism to my music passion. - Shak'thiya
                    
            
            .row.partner-quotes(data-aos='fade-up')
                .col-12.col-sm-12.col-md-4
                    .partner-logos(data-aos='flip-up')
                        img(src='clientlibs/images/mentors/gif-person.png')
                .col-12.col-sm-12.col-md-8
                    .alumni-info
                        .title .gif
                        .d-flex.flex-row.social-icons
                            a(href='https://www.facebook.com/dotgifdotgif/' target='_blank')
                                img(src='clientlibs/images/global/icon-facebook@2x.png')
                            a(href='https://www.instagram.com/dotgifdotgif/' target='_blank')
                                img(src='clientlibs/images/global/icon-instagram@2x.png')
                    .quotes-info.no-quotes-icon
                        p It started out as a passion project, but instantly turned into music that struck a chord with the native populace. That's the story of Singaporean indie-electronic duo .gif. From quiet releases on SoundCloud to an EP that garnered rave reviews, the avant-garde duo from TGSR season 1 have since gotten big breaks, going on to perform acclaimed sets in far-flung cities worldwide. The exposure was priceless. Now, they're filling a void of their own making in the Singapore music scene.
                    .quotes-info
                        p TGSR Season 1 was a journey of discovery and growth for us. Working with Vanessa (Fernandez) was a dream — we remade "Shanty" by The Quests which took on a whole new life of it's own. It was great to share who we are with the wider public through the campaign. - .gif
                
                    
        