extends layout/page-layout-4b
 
block head
    meta(property="og:url", content="https://thegreatsingaporereplay.sg/about.html")
    meta(property="og:title", content="The Great Singapore Replay: Season 2")
    meta(property="og:image:secure_url", content="https://thegreatsingaporereplay.sg/clientlibs/images/global/about_og.jpg")
    title The Great Singapore Replay: Season 2 | About
 
block content 
    .about-page.body-contents.tnc-page.boombox-terms
        .container-2
            .page-title.other-title(data-aos="fade-up")
                h5 THE GREAT SINGAPORE REPLAY 
                h3 ROADSHOW SCRATCH AND WIN TERMS & CONDITIONS

 
            .order-sublist
                ol.main-list
                    li(data-aos="fade-up")
                        p
                            | The Great Singapore Replay Roadshow Scratch and Win (“Scratch and Win Campaign”) is organised by Temasek Capital Management Pte. Ltd. (“Organiser”).
    
            
                    li(data-aos="fade-up")
                        p 
                            | The Scratch and Win Campaign will be made available at various roadshows (“Roadshows”). Details of the Roadshows are set out below:-
                        ul
                            li
                                strong Date : 
                                |  23 October to 26 October 2019
                            
                            li
                                strong Time : 
                                |  11 AM to 9 PM
                            
                            li
                                strong Venue : 
                                |  Westgate 
                        
                        ul
                            li
                                strong Date : 
                                |  28 October to 29 October 2019
                            
                            li
                                strong Time : 
                                |  11 AM to 9 PM
                            
                            li
                                strong Venue : 
                                |  Bedok Mall

                        ul
                            li
                                strong Date : 
                                |  31 October to 3 November 2019
                            
                            li
                                strong Time : 
                                |  11 AM to 9 PM
                            
                            li
                                strong Venue : 
                                |  Plaza Singapura
                        
                        ul
                            li
                                strong Date : 
                                |  8 November to 10 November 2019
                            
                            li
                                strong Time : 
                                |  11 AM to 9 PM
                            
                            li
                                strong Venue : 
                                |  Our Tampines Hub
                    
                    li(data-aos="fade-up")
                        p 
                            | By participating in the Scratch and Win Campaign, the participant agrees to be bound by and to comply with these Terms. Organiser may, at its sole discretion and without prior notice, vary, modify or amend these Terms. The amended Terms will replace the original Terms.
                    
                    li(data-aos="fade-up")
                        p 
                            | Organiser reserves the right to withdraw, discontinue, postpone or terminate the Scratch and Win Campaign without prior notice. Organiser may also cancel or change the dates and venue of the Roadshows without prior notice. Organiser shall not be liable for any loss, damage or expenses incurred as a result.

                    li(data-aos="fade-up")
                        p 
                            | Non-compliance with or breach of any of these Terms may disqualify a participant of the Scratch and Win Campaign, and any prizes won may be forfeited, withheld, withdrawn or reclaimed by Organiser.


                    h5.title-blue Eligibility
                    li(data-aos="fade-up")
                        p
                            | Persons in the following categories are not eligible to participate in the Scratch and Win Campaign:-
                                
                            ol
                                li(data-aos="fade-up")
                                    p
                                        | Employees of Organiser’s group companies (including its affiliates, subsidiaries, parent company and/or any other related entities), and their immediate family members; and
                                
                                li(data-aos="fade-up")
                                    p
                                        | Vendors, partners or any other individuals directly involved or connected to The Great Singapore Replay, the Scratch and Win Campaign or the Roadshow (including creative agencies, event organiser and media agencies) and their immediate family members.
                            
                    li(data-aos="fade-up")
                        p
                            | A scratch and win card (“Card”) will be issued to a participant upon completion of such task as required by Organiser at the Roadshow. It is the participant’s responsibility to ensure that he or she receives the Card at the completion of such tasks. There is no restriction on the number of times the participant may obtain the Card.

                    li(data-aos="fade-up")
                        p
                            | Organiser will not entertain any Card that is lost, damaged, expired or defaced. For the avoidance of doubt, all Cards shall be deemed expired after 10 November 2019, or such other date as may be specified by Organiser.


                    h5.title-blue Prizes
                    li(data-aos="fade-up")
                        p
                            | The participants may win any of the following prizes (a “Prize”, or collectively, the “Prizes”):
                            ol
                                li(data-aos="fade-up")
                                    p tote bag; or
                                li(data-aos="fade-up")
                                    p foldable umbrella; or
                                li(data-aos="fade-up")
                                    p bluetooth speaker.

                    li(data-aos="fade-up")
                        p
                            | Only original and genuine Card will be accepted and valid. The participant will be entitled to have a Prize claim for the Prize as stated on the Card.

                    li(data-aos="fade-up")
                        p
                            | The Prizes will only be awarded following verification of the Card. The participant must present the Card for redemption at any Roadshow.

                    li(data-aos="fade-up")
                        p
                            | The Prizes are not replaceable (whether in whole or in part), exchangeable or redeemable for cash or in-kind.

                    li(data-aos="fade-up")
                        p
                            | The images of Prizes on all marketing materials are for illustration purposes only. Actual products may be different from the images shown. Prizes cannot be assigned, transferred, redeemed for cash or substituted. Organiser will not replace any lost or stolen Prizes.

                    li(data-aos="fade-up")
                        p
                            | Organiser may, in its sole and absolute discretion and without prior notice, substitute, withdraw, add to or alter any of the Prizes offered with another of comparable value if the Prize is unavailable.

                    li(data-aos="fade-up")
                        p
                            | In the event that the Prize winner does not claim the Prize at any Roadshow, Organiser may forfeit the Prize at its sole discretion.

                    li(data-aos="fade-up")
                        p
                            | The value of the Prize shall be solely determined by Organiser.

                    li(data-aos="fade-up")
                        p
                            | The Prizes may be subject to the terms and conditions of the respective third party manufacturer, supplier and/or distributor (if any). Organiser shall not be liable for any separate terms and conditions as may be imposed by such third parties for the use of the Prizes.

                    li(data-aos="fade-up")
                        p
                            | Taxes, if any, related to a Prize are the sole responsibility of the Prize winner. Organiser accepts no responsibility for any tax or other liability that may arise from the Prize winnings.

                    li(data-aos="fade-up")
                        p
                            | Organiser has the right to disqualify a Prize winner and forfeit any Prize if: (a) the Prize winner does not agree to abide by and by bound by these Terms; or (b) the Prize winner has committed any act of fraud or dishonesty, or has misrepresented anything in connection with the Scratch and Win Campaign.

                    li(data-aos="fade-up")
                        p
                            | The Prizes are provided on “as is”, “with all faults” and “as available” basis. Organiser does not warrant, represent or guarantee the usability or quality of the Prizes that the claims made by the manufacturers, suppliers and/or distributors of those Prizes are accurate. To the fullest extent permitted by the law, Organiser disclaims all warranties (whether express or implied) including but not limited to warranties that the Prizes will meet the Prize winners’ requirements, warranties of satisfactory quality, warranties of merchantability or fitness for a particular purpose. All warranty claims in regards to a Prize should be directed to the applicable manufacturer, supplier and/or distributor.

                    h5.title-blue General
                    li(data-aos="fade-up")
                        p
                            | By participating in the Scratch and Win Campaign and/or claiming any Prize, the participant hereby releases and agrees to hold harmless, subject to the maximum extent permitted under the law, Organiser and its related corporations and affiliates (including respective officers, directors, employees and agents) from any and all liability for any loss (including, without limitation, indirect or consequential loss), damage or expenses in connection with the Scratch and Win Campaign, or any Prize.
                    
                    li(data-aos="fade-up")
                        p
                            | The participant accepts that Organiser’s decision arising out of or in connection with any matters pertaining to the Scratch and Win Campaign (including the award of Prizes) is final and binding. The Organiser is not obliged to enter into any correspondence with any participant of the Scratch and Win Campaign. No enquiries, appeals, verbal or written, shall be entertained.

                    li(data-aos="fade-up")
                        p
                            | These Terms shall be governed by Singapore law and the participants in the Scratch and Win Campaign irrevocably submit to the exclusive jurisdiction of the courts of Singapore.

                    li(data-aos="fade-up")
                        p
                            | In the event of any inconsistency between these Terms and any brochure, marketing or promotional material relating to the Scratch and Win Campaign, these Terms will prevail.

                    li(data-aos="fade-up")
                        p
                            | Participation in the Scratch and Win Campaign is personal to the participant. Apart from the aforementioned participant, no other person shall have any right under the Contracts (Rights of Third Parties) Act to enforce these Terms.

                    li(data-aos="fade-up")
                        p
                            | These Terms and any amendments will be displayed at 
                            a(href="https://thegreatsingaporereplay.sg") https://thegreatsingaporereplay.sg.
                            