extends layout/page-layout-6
 
block head
    meta(property="og:url", content="https://thegreatsingaporereplay.sg/about.html")
    meta(property="og:title", content="The Great Singapore Replay: Season 2")
    meta(property="og:image:secure_url", content="https://thegreatsingaporereplay.sg/clientlibs/images/global/about_og.jpg")
    title The Great Singapore Replay: Season 2 | About
 
block content
    include components/mixin-event-detail
    
    .events-page.body-contents
        
        .events-carousel-container.body-contents.events-text-info
            // Start: Slider
            .events-slider
                .slider-item
                    .events-slider-item
                        .item-content-block
                            //- .image-block
                            //-     img(src="clientlibs/images/events/events-banner-1.png")
                            .text-block
                                .text-content
                                    h5.title-pink What's New
                                    h3 THE  GREAT SINGAPORE REPLAY - POP-UP PERFORMANCES
                                    .event-details
                                        //- .event-item.event-date 23 - 26 Oct 2019 
                                        //- .event-item.event-place Westgate Mall 
                                        p Time to get soaked in music, as The Great Singapore Replay artists come to town in a batch of pop-up performances from 23 November to 21 December 2019! Listen to these talented acts croon and swoon you as they gear up for the TGSR showcase concert at Gardens by The Bay on 18 Jan 2020.

                                    //- .expanding-btn
                                    //-     a(href="/open-call.html" , class="read-more", id="upcoming_0") FIND OUT MORE


                //- .slider-item
                //-     .events-slider-item
                //-         .item-content-block
                //-             .image-block
                //-                 img(src="clientlibs/images/events/events-banner-1.png")
                //-             .text-block
                //-                 .text-content
                //-                     h5.title-pink THIS MONTH
                //-                     h3
                //-                         | THE GREAT SINGAPORE REPLAY
                //-                         br
                //-                         | SPIN PLAYER COMES TO TOWN
                //-                     .event-details
                //-                         .event-item.event-date 12 - 15 Nov 2019
                //-                         .event-item.event-place Raffles City Shopping Centre

                //-                     .expanding-btn
                //-                         a(href="/open-call.html" , class="read-more" id="upcoming_1") FIND OUT MORE
            

        .events-container
            .tabs-row
                .tab-title
                    a(href="#", class="active", data-id="upcoming") Upcoming
                .tab-title
                    a(href="#", data-id="past") Past

            .mic-icon-container
                .mic-top
                    img(src="clientlibs/images/events/mic.png")

            .events-timeline
                .upcoming-timeline.active(data-id="upcoming")

                .past-timeline(data-id="past")

        .popover.event-details
            .event-overlay-background
                img(src='clientlibs/images/events/events-desktop-overlay.png')
            .popover-container
                .event-slide.container
                    .row
                        .event-image.col-12.col-sm-12.col-md-3.col-lg-3
                            img(src="clientlibs/images/events/place-1.png")
                        .event-overlay-detail.col-12.col-sm-12.col-md-9.col-lg-9
                            .scroll-container.details
                                h5.title-pink upcoming
                                h4.title-blue The Great Singapore Replay Spin Player Comes To Town
                                .event-schedule
                                    .schedule.date 12 - 14 Nov 2019
                                    .schedule.place Raffles City Shopping Center
                                .scroll-container.details.description
                                    p Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.
            
            button.close-overlay X
            include ./common/footer.pug
        
