extends layout/page-layout-1

block head
    meta(property="og:url", content="https://thegreatsingaporereplay.sg/faq.html")
    meta(property="og:title", content="The Great Singapore Replay: Season 2")
    meta(property="og:image:secure_url", content="https://thegreatsingaporereplay.sg/clientlibs/images/global/faq_og.jpg")
    title The Great Singapore Replay: Season 2 | FAQ

block content
    include components/accordion

    .faq-page.body-contents
        .background-photo
            img(src='clientlibs/images/lights/faq-background.jpg')
        .background-pattern

        .container-2
            h3 FREQUENTLY ASKED QUESTIONS
            .row
                .col-12.col-sm-12.col-md-4.col-lg-4
                    div.mobile-dropdown
                        div.dropdown
                            span About The Great Singapore Replay: Season 2
                            i.fa.fa-angle-down
                            i.fa.fa-angle-up
                        ul.faq-list
                            li
                                a.active(href="#accordion1") About The Great Singapore Replay: Season 2
                            
                            //- li
                            //-     a(href="#accordion2") Joining The Open Call
                            li
                                a(href="#accordion3") The 5 Iconic Eras And 5 Modern Genres
                            li
                                a(href="#accordion4") About the Mashup
                            li
                                a(href="#accordion2") Selected Mashups And <br/>Music Acts
                                
                            //li
                                a(href="#4") Making Your Mashup And Voting
                            //li
                                a(href="#4") Established Artists
                            //li
                                a(href="#6") About The 10 Original Songs
                            // li
                                a(href="#7") Music Making Experience
                            //li
                                a(href="#8") The Final Showcase
                .col-12.col-sm-12.col-md-8.col-lg-8
                    +accordion('projectList list','accordion1')
                        //- card(cardClass, index, projectTitle, projectDate, projectVertical, projectPlatform , responsiveStatus, previewLink, downloadLink)
                        +card(
                            '',
                            'show',
                            '1',
                            'What is The Great Singapore Replay (TGSR)?',
                            '1'

                        )
                            p Presented by Temasek, the biennial TGSR is about discovery and collaboration - discovery of Singapore's rich music heritage and the collaboration between established artists and the next generation of aspiring young local talents to create original 'Made-in-Singapore' songs.
                            p In its second season, TGSR offers 10 music talents the opportunity to be guided by five established artists in creating 10 new original songs. These songs will be inspired by mashups of distinct tunes, voted by the public, from five iconic eras of Singapore's history and five modern music genres.
                            p Discovery and collaboration have always been the heart and soul of TGSR, and this season will have no shortage of either. Expect to see an even bigger collaboration of artists and industry professionals, in this continued effort to nurture Singapore's music scene and showcase our diversity of aspiring young talents.


                        +card(
                            '',
                            '',
                            '2',
                            'Who are the people behind TGSR?',
                            '1'
                        )
                            p TGSR is presented by Temasek, with the support of music labels - Sony Music, Universal Music Group and Warner Music.

                        +card(
                            '',
                            '',
                            '3',
                            'How is this different from other music mentorship programmes',
                            '1'
                        )
                            p TGSR is not just any mentorship programme. It is an enabler of aspiring local music talents, a collaborative platform for the Singapore music industry, and a meaningful touchpoint to bring the community together.
                            p Through TGSR, we aim to nurture local music talent by helping them to work with established industry professionals and provide them a platform to showcase their talent to the world.
                            p Working with local music industry players, the selected talents will undergo a professional production experience, comprising song-writing workshop, song arrangement and recording. It will also include the marketing and creating of individual artists' brand, and the launch of their songs on popular digital music streaming platforms.

    
                    +accordion('projectList list','accordion2')
                        +card(
                            '',
                            'show',
                            '4',
                            'How were the final 10 mashups selected?',
                            '2'
                        )
                            p The final 10 mashups were selected by the public through voting and our established artists based on the potential for musicality and creative expression in the creation of the 10 original "Made-in-Singapore" songs.
                            
                        +card(
                            '',
                            '',
                            '5',
                            'How were the 10 emerging music acts selected?',
                            '2'
                        )
                            p The final 10 acts were selected by industry experts from Sony Music and Warrior records basis the following 4 judging criteria:
                            ul
                                li Talent &amp; Musicality
                            
                                li Character &amp; Personality
                            
                                li Growth Potential
                            
                                li Depth of Material
                            
                            
                    //- +accordion('projectList list','accordion2')
                    //-     +card(
                    //-         '',
                    //-         'show',
                    //-         '4',
                    //-         'How do I sign up?',
                    //-         '2'
                    //-     )
                    //-         p It's a very simple process.
                    //-         p Step 1: Create a video of yourself performing a song. You should introduce yourself in the first 30 seconds of the video, sharing your name, artist personas (if any), and a brief musical/general background on yourself and why you want to take part in TGSR Season 2. Video submissions should be between 2-3 minutes in duration.
                    //-         p Step 2: Upload a video on a video streaming platform like YouTube or Vimeo. Make sure to make your video link public.
                    //-         p Step 3: Go to 
                    //-             a(href="/open-call.html") Join the open call
                    //-             |  page and submit your video by filling the form.


                    //-     +card(
                    //-         '',
                    //-         '',
                    //-         '5',
                    //-         'What are the judges looking for?',
                    //-         '2'
                    //-     )
                    //-         p The talents will be evaluated by a panel of music industry professionals based on the following four criteria:
                    //-         p Talent & Musicality
                    //-         ul
                    //-             li Ability to carry a tune, with a good tone of voice and instrument
                    //-             li Good knowledge of notes and chord structure
                    //-             li Level of vocal and instrument ability

                    //-         p Character & Personality / Presentation
                    //-         ul
                    //-             li X-factor - personality and character
                    //-             li Portrayal of auditioned song

                    //-         p Growth Potential
                    //-         ul
                    //-             li Potential to be groomed and improve as the programme progresses

                    //-         p Depth of Material
                    //-         ul
                    //-             li Depth of artistry and ability to think "original" through audition material, as TGSR requires an introspection and creative incubation of ideas to create new original songs



                    //-     +card(
                    //-         '',
                    //-         '',
                    //-         '6',
                    //-         'Can you tell me more about the music-making process?',
                    //-         '2'
                    //-     )
                    //-         p Once selected, you will be working with 5 of Singapore's finest artists: Charlie Lim, Joanna Dong, Kelly Pan, Sezairi and Shabir, as they guide you through the process of creating your original song.
                    //-         p The process will be backed by industry experts, as they groom you in the journey of releasing your own original song at the Showcase Concert.


                    //-     +card(
                    //-         '',
                    //-         '',
                    //-         '7',
                    //-         'I am not a professional musician, can I sign up?',
                    //-         '2'
                    //-     )
                    //-         p Yes you can! Find out more 
                    //-              a(href="/open-call.html")  here.

                    //-     //+card(
                    //-         '',
                    //-         '',
                    //-         '8',
                    //-         'What do I need to do to sign up?',
                    //-         '2'
                    //-     //)
                    //-         p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do elit, sed do eiusmod tempor inciddunt ut labore et dolore magna aliqua, Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alquip ex commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur


                    +accordion('projectList list','accordion3')
                        +card(
                            '',
                            'show',
                            '6',
                            'What are the eras? How were they chosen?',
                            '3'
                        )
                            p These are the 5 iconic eras:
                            ul
                                li 1300s - An island called Temasek
                                li 1400 - 1700 - The rise of Singapura in Southeast Asia
                                li 1819 - Arrival of the British
                                li 1900 - 1945 - Pre-War Singapore
                                li 1965 - Present - Journey into Nationhood

                            p The eras were chosen to depict the milestone moments of history that shaped our culture and identity.


                        +card(
                            '',
                            '',
                            '7',
                            'What are the genres? How were they chosen?',
                            '3'
                        )
                            p These are the 5 modern genres:
                            ul
                                li Jazz - Roots Music Of The world
                                li Pop - Popular With People
                                li Indie - Independent Music
                                li Electronic - Music Of The Technological age
                                li Urban - Soul Music From The Underground

                            p These genres of music were chosen to represent a comprehensive cross-section of the genres in which music is created and listened to today. They cover (though not exhaustively) a wide proportion of how all music can be classified in terms of style and approach.


                
                    +accordion('projectList list','accordion4')
                        //- card(cardClass, index, projectTitle, projectDate, projectVertical, projectPlatform , responsiveStatus, previewLink, downloadLink)
                        +card(
                            '',
                            'show',
                            '8',
                            'What is a mashup?',
                            '4'
                        )
                           p A mashup is a unique, distinct tune created by combining the sounds of one of the 5 iconic eras of Singapore's history and one of the 5 modern music genres. 

                        +card(
                            '',
                            '',
                            '9',
                            'Why should I create a mashup?',
                            '4'
                        )
                           p Out of 25 unique combinations, the 10 most popular mashups, voted by the public and established artists, will inspire the creation of 10 original "Made-in-Singapore" songs by 10 aspiring TGSR music talents.

                        +card(
                            '',
                            '',
                            '10',
                            'How can I create my own mashup?',
                            '4'
                        )
                           p On the Spin Player, pick an iconic era and a modern music genre, and then hit the play button to listen to your mashup. Remember to turn on the volume!
                        
                        +card(
                            '',
                            '',
                            '11',
                            'Where can I find out more about my mashup?',
                            '4'
                        )
                           p You can learn more about the your mashup tune by clicking on the ticker tape above the play button on the spin player.


                    //-    +card(
                            '',
                            '',
                            '12',
                            'How do I vote for my combination?',
                            '4'
                        )
                           p After you have created your favourite mashup of times & tunes, all you need to do is hit the vote button.                        
                        
                        +card(
                            '',
                            '',
                            '13',
                            'How do I win prizes?',
                            '4'
                        )
                           p After creating your mashup and voting for it, all you need to do is submit your details and enter the weekly draw. It's that simple!  
                           p Every time you vote, you unlock a card specifying the number of chances you have garnered to win a prize in that week's draw. Once you submit your details, you enter the weekly draw. You can vote and submit your details as many times as you want. At the end of the week, 3 lucky winners will be picked and if you are one of them, you'll hear from us via the details provided.

                        +card(
                            '',
                            '',
                            '14',
                            'Can I create more than 1 mashup and vote for multiple mashups?',
                            '4'
                        )
                           p Yes you can! Create as many mashups as you want, vote for them and submit your details. The more you vote and submit your details, the higher your chances are of winning!  
                           