extends layout/page-layout-1

block head
    meta(property="og:url", content="https://thegreatsingaporereplay.sg/singapore-finest-artists.html")
    meta(property="og:title", content="The Great Singapore Replay: Season 2")
    meta(property="og:image:secure_url", content="https://thegreatsingaporereplay.sg/clientlibs/images/global/mentors_og.jpg")
    title The Great Singapore Replay: Season 2 | Mentors

block content

    .body-contents
        .mentors-spotlight
            img(src="clientlibs/images/mentors/mentor-spotlight.png")
        .mentor-landing-background
            img(src="clientlibs/images/mentors/body-background.jpg")
        //- .mentor-landing-background-left
        //-     img(src="clientlibs/images/mentors/background-left.png")
        //- .mentor-landing-background-right
        //-     img(src="clientlibs/images/mentors/background-right.png")

        .container-fluid.mentors-landing-page.blue
            .mentors-block
                .mentor-landing-title
                    h3 OUR ESTABLISHED ARTISTS
                    p Singapore's finest artists who have made their own name in the music industry with their talent and artistry. Get to know them here.

                div.center-stage-background
                    div.background-glow &nbsp;

                .mentors.mentors-carousel.center
                    -
                        var mentors = [
                            {
                                avatar: "clientlibs/images/mentors/mentors-only/img_mentor_joanna_only@2x.png",
                                avatarBoombox: "clientlibs/images/mentors/mentors-boombox/img_mentor_joanna_combined@2x.png",
                                thumbnail: "clientlibs/images/mentors/details/img_mentor_overlay_profileimg_joannadong@2x.png",
                                title: "Joanna Dong",
                                role: "Jazz Vocalist, Actress, TV Host",
                                link: {
                                    text: "View profile",
                                    href: "#0"
                                },
                                description: [`Joanna Dong is a jazz vocalist, musical theatre actress and TV host. Over the years, she has established herself as one of the most talented and sought-after jazz vocalists in Singapore, with a repertoire that spans a wide range of audiences. Joanna is bilingual and very passionate about sharing her love for jazz with Mandarin speaking audiences.`,
                                `Joanna became the pride of Singapore after a stellar performance at 'Sing! China', coming in as a second runner-up under Jay Chou's team in the popular Chinese singing competition. After her hugely successful two-day '我是真的' (So Here I Am) concert at the Esplanade Concert Hall, she followed up with '我是真的' (So Here I Am) EP digital release and Asia tour across seven different cities.`,
                                `Joanna has also performed at other notable events such as Jeremy Monteiro's Jazzy Christmas Concert, Jay Chou's 'The Invincible 2' Concert World Tour, the 2018 National Day Parade, and the 2018 Formula One Singapore Grand Prix.`],
                                bullets: []

                            },
                            {
                                avatar: "clientlibs/images/mentors/mentors-only/img_mentor_charlie_only@2x.png",
                                avatarBoombox: "clientlibs/images/mentors/mentors-boombox/img_mentor_charlie_combined@2x.png",
                                thumbnail: "clientlibs/images/mentors/details/img_mentor_overlay_profileimg_charlie@2x.png",
                                title: "Charlie Lim",
                                role: "Singer, Songwriter",
                                link: {
                                    text: "View profile",
                                    href: "#1"
                                },
                                description: [`Charlie Lim is a singer-songwriter and producer based in Singapore. Charlie's debut record 'TIME/SPACE' made it to the number one spot on the Singapore iTunes charts. It was later awarded 'Best Pop Album of the Year' by The Straits Times. His recent album CHECK-HOOK released in 2018 also clinched Best Song of the Year by Apple Music for single Zero-Sum, garnering over 5 million streams to date.`,
                                `He played a central role in writing and performing the theme song 'We Are Singapore' for the 2018 National Day Parade. He was also featured on Tatler Gen T Asia 2019 for playing a fundamental role in enriching Singapore's music scene.`,
                                `Charlie continues to produce music and contribute to the local scene and is growing to become one of Southeast Asia's best voices in pop music.`],
                                bullets: []
                            },
                            {
                                avatar: "clientlibs/images/mentors/mentors-only/img_mentor_kelly_only@2x.png",
                                avatarBoombox: "clientlibs/images/mentors/mentors-boombox/img_mentor_kelly_combined@2x.png",
                                thumbnail: "clientlibs/images/mentors/details/img_mentor_overlay_profileimg_kellypoon@2x.png",
                                title: "Kelly Pan",
                                role: "Singer, Songwriter",
                                link: {
                                    text: "View profile",
                                    href: "#2"
                                },
                                description: [`Kelly became a household name after being crowned a winner in the female category at the inaugural 'Project Superstar Competition', beating over 10,000 applicants.`,
                                `Kelly's career has skyrocketed since then, releasing five albums throughout Taiwan, China, Hong Kong, Malaysia and Singapore. At the 19th Singapore Hit Awards, she won the 'Regional Outstanding Artiste Award'. She was honoured with the 'Outstanding Regional Artiste and Vocalist Award' at the 14th Global Chinese Music Awards, before being selected to be the official ambassador for the Global Chinese Music Awards 2015.`,
                                `In 2017 she collaborated with Warner Denmark's Christopher on the song 'Heartbeat 心跳', which raked in half a million views in less than one week of its release.`],
                                bullets: []
                            },
                            {
                                avatar: "clientlibs/images/mentors/mentors-only/img_mentor_sezairi_only@2x.png",
                                avatarBoombox: "clientlibs/images/mentors/mentors-boombox/img_mentor_sezairi_combined@2x.png",
                                thumbnail: "clientlibs/images/mentors/details/img_mentor_overlay_profileimg_sezairi@2x.png",
                                title: "Sezairi",
                                role: "Pop & R&B Artist",
                                link: {
                                    text: "View profile",
                                    href: "#3"
                                },
                                description: [`Sezairi is a pop singer whose meteoric rise has left the nation in awe. Sezairi started singing at the tender age of five and hasn't stopped since. He formed a band at the age of 14 and learned the guitar to complement his vocals.`,
                                `It was 2009 when Sezairi got his big break, after winning the Singapore Idol series. Since then, he has released hits and chart toppers that remind people of his adeptness in his craft. His recent EP 'Sezairi EP' was completely written by him and co-produced by elite Indonesian producer Ari Renaldi.`,
                                `Sezairi creates unique songs that are regularly well received by the public and continues to hone his craft, always looking for ways to make captivating music.`,
                                `His achievements include:`],
                                bullets: [
                                `Number one spot on Spotify's Viral 50 Chart within a week of the release of his song 'Fire to the Floor'. The song retained the spot for two weeks after.`,
                                `Number two spot on Spotify Singapore's Viral 50 Chart within a week of his single release '70s'. This song even made its way to Taiwan, Hong Kong, and the Philippines. The single was also a hit on Indonesia's iTunes and Spotify Viral 50 Chart, while garnering over 400,000 listeners on Spotify.`,
                                `Number one on Spotify Singapore and Malaysia Viral 50 Chart within a week of the release of his ballad 'It's You', while it reached number three on Indonesia's iTunes. Two million online listeners tuned in to listen to the song, which has since received a gold certification. The song's music video appeared on the third spot in Apple Music's 'Best of 2018: Editors'`]
                            },
                            {
                                avatar: "clientlibs/images/mentors/mentors-only/img_mentor_shabir_only@2x.png",
                                avatarBoombox: "clientlibs/images/mentors/mentors-boombox/img_mentor_shabir_combined@2x.png",
                                thumbnail: "clientlibs/images/mentors/details/img_mentor_overlay_profileimg_shabir@2x.png",
                                title: "Shabir",
                                role: "Music Artist, Film Composer",
                                link: {
                                    text: "View profile",
                                    href: "#4"
                                },
                                description: [`Shabir started song writing and song composition when he was 12 years old. Starting out as a self-taught keyboardist, he went on to learn Hindustani classical music under the tutelage of violinist Sri Veereshwar Madhri and guitar from Steve Vatz.`,
                                `He is a multiple award-winning singer-songwriter, record producer, music composer and performer. He is the winner of the inaugural singing competition Vasantham Star 2005. He was awarded the Singapore Youth Award, the highest national honour given to young achievers by the Singapore government in 2017. He was the first artist of Tamil and Indian descent to win the award.`,
                                `Shabir remains one of the leading recording artists in Singapore with a strong fan following in the region, having released three albums to date 'Alaipayuthey', 'TraffiQ' and 'Swasam-Scents of Prose'.`,
                                `Shabir's music is known to be an eclectic concoction of various genres and influences that include pop, alternative rock, hip-hop and world music. Shabir's lyrical style consists of wordplay, metaphor and he often experiments with cadence. His voice culture is characterised by his distinct style that owes itself to his early influences such as Rage Against the Machine, Metallica, Wyclef Jean and Bob Dylan.`,
                                `Shabir achieved mainstream success in India as a composer, songwriter and singer in the highly competitive Indian film music industry in 2019 with back-to-back releases, with his songs crossing 70-million collective views on YouTube. To date, he has been signed to eight films as a composer, songwriter and singer, making him the first music artist from Singapore to achieve this feat.`],
                                bullets: []
                            }
                        ]

                    each n,index in mentors
                        div.mentor-item
                            div.stage
                            img.mentor-only(src=n.avatar)
                            img.mentor-boombox(src=n.avatarBoombox)
                            div.details
                                h5.title=n.title
                                .role=n.role
                                a(href=n.link.href, overlay-dialog="" id="viewprofile")=n.link.text



        .popover.mentor-detail
            //- .tgsr-logo
                //- img(src="clientlibs/images/navigation/logo_tgsr_yellow@2x.png")
            .mentor-container
                each n,index in mentors
                    div.mentor-slide.container(data-id=n.link.href)
                        .mentors-overlay-background
                            img(src="clientlibs/images/mentors/mentor_overlay_bkg.jpg")
                        .row
                            .avatar.col-12.col-sm-12.col-md-5.col-lg-5
                                //- img(src="clientlibs/images/mentors/mentor_overlay_stage.png")
                                img.figure(src=n.thumbnail)
                            .about-mentor.col-12.col-sm-12.col-md-7.col-lg-7
                                .scroll-container.details
                                    h1.title.title-blue=n.title
                                    h5.role=n.role
                                    .description
                                        each des in n.description
                                            p=des
                                    ul
                                        each item in n.bullets
                                            li=item
            button.close-overlay X
            include ./common/footer.pug
