extends layout/page-layout-1

block head
    meta(property="og:url", content="https://thegreatsingaporereplay.sg/times-tunes.html")
    meta(property="og:title", content="The Great Singapore Replay: Season 2")
    meta(property="og:image:secure_url", content="https://thegreatsingaporereplay.sg/clientlibs/images/global/timestunes_og.jpg")
    title The Great Singapore Replay: Season 2 | Times & Tunes

block content

    .body-contents
        .timeline-times-background.active
            img(src="clientlibs/images/timeline/times/times-background.jpg")

        .timeline-tunes-background
            img(src="clientlibs/images/timeline/tunes/tunes-background.jpg")


        .container-fluid.timeline-page
            .timeline-page-content
                .timeline-title
                    h5 EXPERIENCE THE
                    h3 TIMES & TUNES
                    p Discover the milestone moments of history - the iconic eras that shaped our culture and identity, and the modern musical genres that will inspire the songs to be created.


                .timeline-toggler
                    .toggler-content
                        .times-title.active Times
                        div(class="toggler-button" id="buttonToggle")
                                label.switch
                                    input(type="checkbox")
                                    span.slider.round
                        .tunes-title Tunes


                .times-carousel.center
                    -
                        var times = [
                            {
                                avatar: "clientlibs/images/timeline/times/img_time_1300@2x.png",
                                title: "1300s",
                                desc: "An Island Called Temasek",
                                link: {
                                    text: "Read more",
                                    href: "#times_0"
                                },
                                description: [`The small trading post of Temasek was a quiet place of respite for seafarers before continuing to more challenging waters. The trading post carried goods like sago, nutmeg and rice from mainland kingdoms and from nomadic fishermen groups. The island, while quiet, was subject to claim and political interest because of its strategic location within existing networks of trade.`,
                                `The tranquility was short lived, however. With the arrival of Sumatran prince Sang Nila Utama came development of the island, as well as its renaming to Singapura, as it quickly advanced from a trading outpost to a vibrant commercial hub. For the next century Temasek thrived as a key port in the region, but the prosperity ended as soon as it came when the Majapahit empire invaded and took the settlement for themselves.`]
                            },
                            {
                                avatar: "clientlibs/images/timeline/times/img_time_1400@2x.png",
                                title: "1400 - 1700",
                                desc: "The Rise Of Singapura",
                                link: {
                                    text: "Read more",
                                    href: "#times_1"
                                },
                                description: [`Singapura later became a feeder state ("shahbandaria") to the Melaka Sultanate, as trade flourished through the region's new port of call. Goods came from all throughout the region, with the shabandaria even becoming a part of the famed Islamic Trade Network under the watch of one of the four Great Lords of the Melaka Court, whose warriors fiercely patrolled the Straits.`,
                                `Singapura later saw further increases in commerce with the growth and trade of nearby states. Spice and crop trade grew tremendously, through the lack of natural disasters and climate shifts which allowed for optimal growing conditions. Along with this, surpluses in harvests and population growth made the era one of prosperity. In the center of the prosperity was Singapura, which had likely always been a cosmopolitan point for the flow of trade and commerce.`,
                                `While the region experienced increasing growth, the Portuguese were continuing their crusade against Islamic trade routes, relentlessly attacking Islamic vessels on the routes and continuing southward, until they reached Melaka. Once they had taken Melaka, the Portuguese took the opportunity to regroup. While they did so, the son of the previous Sultan Mahmud of Melaka reestablished himself in Johor, inadvertently helping Singapura to thrive. This prospering attracted the unwanted attention of the Portuguese and Acehnese who sacked the port, sending it into dormancy for centuries.`]
                            },
                            {
                                avatar: "clientlibs/images/timeline/times/img_time_1819@2x.png",
                                title: "1819",
                                desc: "Arrival Of The British",
                                link: {
                                    text: "Read more",
                                    href: "#times_2"
                                },
                                description: [`As European society grew a massive appetite for spices from the Far East, the region saw an influx of powers rush to take advantage of the demand. The Spanish arrived in the Philippine Archipelago to compete with the Portuguese. The Dutch, with Europe's largest naval force, took control of Java and monopolized their spice plantations, ports and networks and routes back to Europe. The British, Danish, and French followed soon after, establishing their own respective ports of control.`,
                                `Sir Stamford Raffles established Singapore as the British's port, after signing a treaty with local leader Temenggong Abdul    Rahman. The treaty called for the exclusivity of trade and British protection of the area. Shortly after, Raffles set up churches and schools, a city center, roads and barracks to establish a strong starting presence for William Farquhar to administer in his stead as he departed to Bencoolen for a few years, eventually returning and taking direct control of Singapore back from Farquhar.`,
                                `Once he had regained control of Singapore, Raffles instituted a code of settlement for the populace, which was soon followed by laws regarding freedom of trade. As the British continued to extend their ownership over the island, a police force and magistrate were set up on British principles, turning a former trading post into a proper city.`]
                            },
                            {
                                avatar: "clientlibs/images/timeline/times/img_time_1900@2x.png",
                                title: "1900 - 1945",
                                desc: "Pre-War Singapore",
                                link: {
                                    text: "Read more",
                                    href: "#times_3"
                                },
                                description: [`The early 20th century was a prosperous time for the colony, with fortunes being made overnight. While Singapore's leading Asian businessmen were amassing great fortunes, the European community prospered, living in style and convenience.`,
                                `Pioneers of Singapore grew into prominence, setting up their interests on the island and engaging in acts of philanthropy to assist people of their own respective races as well as the indigenous population. Tan Kah Kee, Tan Tock Seng and Aw Boon Haw made fortunes in the trade of rubber and tin, speculation of land and in the production and sale of patent medicines. Influential businessmen like P. Govindasamy Pillai, a leading member and philanthropist in Singapore's South Indian community, took advantage of the Chettiars established finance and lending resources. Property moguls like the Alsagoffs and the Aljunieds acted as handling agents for Arab investors, further enriching the port after their forefathers Syed Omar bin Ali-Aljunied and Syed Ahmad Alsagoff settled in the Singapore port under British rule.`,
                                `This prosperity took a turn for the worst after the outbreak of World War II. With the Japanese Army taking over in 1942, dark times ensued. The Japanese occupation was one of the most horrific times in Singapore history.`]
                            },
                            {
                                avatar: "clientlibs/images/timeline/times/img_time_1965@2x.png",
                                title: "1965 - Present",
                                desc: "Journey Into Nationhood",
                                link: {
                                    text: "Read more",
                                    href: "#times_4"
                                },
                                description: [`After the war, Singapore regained its status as a port, just as before the war. This time however, Singapore surpassed the previous standards. Obstacles were prevalent in post war Singapore. Riots, pressure from communist ideologies, and Indonesia's Konfrontasi campaign all hindered the country's progress, but never halted it. The path to independence began with David Marshall's appeal to the British Crown. The appeal fails but the seeds were planted, and with them, Lim Yew Hock gains full governance for Singapore with Lee Kuan Yew becoming the first Prime Minister in 1959.`,
                                `Despite challenges and hardship, Singapore's National identity slowly takes form and becomes an independent nation on 9 August 1965, after a failed merger with Malaysia. Under the leadership of Lee Kuan Yew, Singapore has surpassed its neighbors in economic progress and infrastructure. Eventually establishing itself as Southeast Asia's most prized gem, Singapore attracted global commerce and investors to its ports, enriching the country and enabling it to push into the first world.`]
                            }
                        ]

                    each n,index in times
                        div.times-item
                            .times-content
                                .times-image
                                    img(src=n.avatar)
                                .times-details
                                    h1.title.title-blue=n.title
                                    .description-block
                                        h5=n.desc
                                        a(href=n.link.href, overlay-dialog="" class="artist-description")=n.link.text


                .tunes-carousel.center
                    -
                        var tunes = [
                            {
                                avatar: "clientlibs/images/timeline/tunes/img_tunes_jazz@2x.png",
                                title: "Jazz",
                                desc: "Roots Music Of The World",
                                link: {
                                    text: "Read more",
                                    href: "#tunes_0"
                                },
                                description: [`Originating in the African - American communities of New Orleans in the late 19th and 20th centuries, Jazz is seen by many as "America's classical music". Since the 1920's, jazz has become recognised as a major form of musical expression, with intellectuals around the world hailing it as "one of America's original art forms". Jazz as it spread throughout the world, drew on different cultures, giving rise to different original styles.`,
                                `Jazz was popular in Singapore in the beginning of the 20th century with the boom of sub-genres like Dixieland, big band, and bebop. Nightclubs, hotels, and cabarets were jazz hotspots in Singapore and featured not only local but also famous international musicians. Recent local titans include Jeremy Monteiro and Chok Kerong. The genre has a promising future in Singapore, with it being included in school syllabus at examinable levels.`]

                            },
                            {
                                avatar: "clientlibs/images/timeline/tunes/img_tunes_electronic@2x.png",
                                title: "Electronic",
                                desc: "Music Of The Technological Age",
                                link: {
                                    text: "Read more",
                                    href: "#tunes_1"
                                },
                                description: [`Electronic music is music that is made through the use of digital and electronic instruments that employ circuitry-based music technology. Electronic music largely consists of sounds produced by the theremin, synthesizer, and computer-generated sounds.`,
                                `Electronic music can be found all throughout the Singapore nightlife scene, with the genre constantly evolving with new talented artists and DJs performing regularly. Some favourites include Analog Girl, MYRNE and .gif.`]
                            },
                            {
                                avatar: "clientlibs/images/timeline/tunes/img_tunes_urban@2x.png",
                                title: "Urban",
                                desc: "Soul Music From The Underground",
                                link: {
                                    text: "Read more",
                                    href: "#tunes_2"
                                },
                                description: [`Urban music consists generally of hip - hop, R&B, Latin, pop - rap, British R&B, quiet storm, adult contemporary, Latin pop, Chicano R&B, Chicano rap, and Caribbean music such as reggae. Urban music was created through the combination of R&B and soul.`,
                                `Urban music was popularised in Singapore in the late 90s and early 2000s. Notable local artists include Urban Exchange, Vandetta, Tim De Cotta, and more recently, new groups and artists like Astronauts, Sam Rui and Mars.`]
                            },
                            {
                                avatar: "clientlibs/images/timeline/tunes/img_tunes_pop@2x.png",
                                title: "Pop",
                                desc: "Popular With The People",
                                link: {
                                    text: "Read more",
                                    href: "#tunes_3"
                                },
                                description: [`Pop music is a genre of popular music that has its roots in the U.S. and U.K. in the mid - 1950s. "Pop" and "popular music" are used interchangeably, but the latter includes any music that is popular and includes a multitude of different musical styles. While much of the music that appears on top charts is described as pop, the genre is distinguishable from many songs on the charts.`,
                                `Pop music borrows elements from other styles like urban, dance, rock, latin, and country; however, there are core elements that define pop music. Some characteristics include a short to medium length written in a basic format, using repeated choruses, melodic tunes, and hooks.`,
                                 `Pop's golden era in Singapore was the 1960s to early 1970s, but the genre has seen a revival with local acts garnering strong followings and support from major labels. Acts like The Sam Willows, Sezairi, Charlie Lim, Disco Hue, and Nathan Hartono have all played a part in making Singapore a hotbed of pop music in the region.`]
                            },
                            {
                                avatar: "clientlibs/images/timeline/tunes/img_tunes_indie@2x.png",
                                title: "Indie",
                                desc: "Independent Music",
                                link: {
                                    text: "Read more",
                                    href: "#tunes_4"
                                },
                                description: [`Indie (independent) music generally refers to music that is produced without the support of a commercial record label or their subsidiaries. While the term "indie" is generally used to describe indie pop and indie rock, the genre includes many musical styles and that cannot be categorised into a single genre. Indie artists also are not confined to one genre and often create music that spans multiple genres.`,
                                `Indie music saw a resurgence in Singapore in the late 90s and early 2000s, with acts like Zircon Lounge and Humpback Oak, but continues to sustain a steady fanbase with acts like Subsonic Eye, Sobs and Cosmic Child.`]
                            }
                        ]

                    each n,index in tunes
                        div.tunes-item
                            .tunes-content
                                .tunes-image
                                    img(src=n.avatar)
                                .tunes-details
                                    h1.title.title-pink=n.title
                                    .description-block
                                        h5=n.desc
                                        a(href=n.link.href, overlay-dialog="" lass="artist-description")=n.link.text

        .popover.mentor-detail.timeline-tunes-detail
            //- .tgsr-logo
            //-     img(src="clientlibs/images/navigation/logo_tgsr_yellow@2x.png")
            .popover-container
                each n,index in times
                    div.mentor-slide.container(data-id=n.link.href)
                        .tunes-overlay-background
                            img(src="clientlibs/images/timeline/times/times-overlay-background.jpg")
                        .row
                            .avatar.col-12.col-sm-12.col-md-5.col-lg-5
                                //- img(src="clientlibs/images/mentors/mentor_overlay_stage.png")
                                img.figure(src=n.avatar)
                            .about-mentor.col-12.col-sm-12.col-md-7.col-lg-7
                                .scroll-container.details
                                    h1.title.title-blue=n.title
                                    h5=n.desc
                                    .description
                                        each des in n.description
                                            p=des

                each n,index in tunes
                    div.mentor-slide.container(data-id=n.link.href)
                        .tunes-overlay-background
                            img(src="clientlibs/images/timeline/tunes/tunes-overlay-background.jpg")
                        .row
                            .avatar.tunes.col-12.col-sm-12.col-md-5.col-lg-5
                                //- img(src="clientlibs/images/mentors/mentor_overlay_stage.png")
                                img.figure(src=n.avatar)
                            .about-mentor.col-12.col-sm-12.col-md-7.col-lg-7
                                .scroll-container.details
                                    h1.title.title-pink=n.title
                                    h5=n.desc
                                    .description
                                        each des in n.description
                                            p=des

            button.close-overlay X
            include ./common/footer.pug
