extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1300s_POP.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1300s x Pop Music")
    meta(property="og:description", content="As the night in 14th Century Temasek descends, imagine gamelan gongs and angklung sounds start to fall into the rhythm of your pop beat.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Pop/img_mashup_1300xPOP@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=00'")
    title 1300s x Pop Music
