extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1400-1700_INDIE.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1400-1700 x Indie Music")
    meta(property="og:description", content="Step to the beat of the morning market. Early guitar-like instruments like the Er Hu and Pipa strum along, while the market hums with people trading goods.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Indie/img_mashup_1400-1700xIndie@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=41'")
    title 1400-1700 x Indie Music
