extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1819_ELECTRONIC.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1819 x Electronic Music")
    meta(property="og:description", content="Make your way through early 19th-century Singapore, padded with cobbled streets and its new western architecture. The Revere Bell signals curfews in these dangerous nights.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Electronic/img_mashup_1819xElectronic@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=33'")
    title 1819 x Electronic Music
