extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1819_URBAN.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1819 x Urban Music")
    meta(property="og:description", content="The tempo is set with the influx of interest and wealth from all parts of the greater region with Asian, Arabic and European pioneers settling on the little island in the East Indies.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Urban/img_mashup_1819xUrban@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=34'")
    title 1819 x Urban Music
