extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1900-1945_JAZZ.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1900-1945 x Jazz Music")
    meta(property="og:description", content="Singapore reaches its pre-war peak in the early 1900s. Soldiers marching in rhythm and gramophones crackling are familiar sounds.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Jazz/img_mashup_1900-1945xJazz@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=22'")
    title 1900-1945 x Jazz Music
