extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1900-1945_ELECTRONIC.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1900-1945 x Electronic Music")
    meta(property="og:description", content="It’s the height of Singapore’s pre-war status under British rule, a more developed nation with loud bustling ports and busy streets, with the first automobiles in tow.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Electronic/img_mashup_1900-1945xElectronic@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=23'")
    title 1900-1945 x Electronic Music
