extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1900-1945_INDIE.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1900-1945 x Indie Music")
    meta(property="og:description", content="Singapore starts singing to a more populated and cosmopolitan tune. Early 1900 city-life mirrors many big cities in the world, where entertainment rocks the streets after working hours.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Indie/img_mashup_1900-1945xIndie@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=21'")
    title 1900-1945 x Indie Music
