extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1900-1945_URBAN.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1900-1945 x Urban Music")
    meta(property="og:description", content="Life at the turn of the 20th Century increases in pace. You hear vintage automobile horns as they drive by the busy streets of Singapore.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Urban/img_mashup_1900-1945xUrban@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=24'")
    title 1900-1945 x Urban Music
