extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1965-PRESENT_ELECTRONIC.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1965-Present x Electronic Music")
    meta(property="og:description", content="A time of progress by leaps and bounds since our independence. Take an audio journey through the iconic Merdeka speech into becoming a major trading hub.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Electronic/img_mashup_1965-PresentxElectronic@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=13'")
    title 1965-Present x Electronic Music
