extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1965-PRESENT_JAZZ.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1965-Present x Jazz Music")
    meta(property="og:description", content="The Singapore landscape evolves, singing progress and sophistication. A smartphone plays becoming the centrepiece melody of your jazz tune.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Jazz/img_mashup_1965-PresentxJazz@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=12'")
    title 1965-Present x Jazz Music
