extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1965-PRESENT_POP.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1965-Present x Pop Music")
    meta(property="og:description", content="Enter the boom of a jet set on its course. Listen to the bells of the MRT chime. Then, ringtones of smartphones go off as these various modern pop sounds come together naturally with the environment of the modern age.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Pop/img_mashup_1965-PresentxPOP@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=10'")
    title 1965-Present x Pop Music
