extends ../layout/page-layout-7

block head
    meta(property="og:url", content=domain+"/mashups/1965-PRESENT_INDIE.html")
    meta(property="og:type", content="Website")
    meta(property="og:site_name", content="The Great Singapore Replay: Season 2")
    meta(property="og:title", content="1965-Present x Indie Music")
    meta(property="og:description", content="Open your ears and embrace the voice of independence. Determined to make it on our own, thought leaders of modern Singapore cry out for our young budding nation with a tone of potential.")
    meta(property="og:image", content=domain+"/clientlibs/images/mashups/Indie/img_mashup_1965-PresentxIndie@2x.png")
    meta(name="twitter:card", content="Website")
    meta(name="twitter:site", content="The Great Singapore Replay: Season 2")
    //meta(http-equiv="refresh", content="0;URL='"+domain+"/spin-player.html?mashupId=11'")
    title 1965-Present x Indie Music
