mixin h1(args)
  - args = args || {};
  <!-- Start: Heading Component -->
  h1(class=args.class,id=args.id)!= args.title
  <!-- End: Heading Component -->

mixin h2(args)
  - args = args || {};
  <!-- Start: Heading Component -->
  h2(class=args.class,id=args.id)!= args.title
  <!-- End: Heading Component -->

mixin h3(args)
  - args = args || {};
  <!-- Start: Heading Component -->
  h3(class=args.class,id=args.id)!= args.title
  <!-- End: Heading Component -->

mixin h4(args)
  - args = args || {};
  <!-- Start: Heading Component -->
  h4(class=args.class,id=args.id)!= args.title
  <!-- End: Heading Component -->

mixin h5(args)
  - args = args || {};
  <!-- Start: Heading Component -->
  h5(class=args.class,id=args.id)!= args.title
  <!-- End: Heading Component -->

mixin h6(args)
  - args = args || {};
  <!-- Start: Heading Component -->
  h6(class=args.class,id=args.id)!= args.title
  <!-- End: Heading Component -->
