doctype html
html(lang='')
  head
    // Lightning Bolt Begins
    script#lightning_bolt(type='text/javascript', src='//cdn-akamai.mookie1.com/LB/LightningBolt.js')
    // Lightning Bolt Ends
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-538D4FF');
    // End Google Tag Manager
    // Facebook Pixel Code
    script.
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '977185412620356');
        fbq('track', 'PageView');
    noscript
        img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=977185412620356&ev=PageView&noscript=1')
    // End Facebook Pixel Code
    
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='format-detection', content='telephone=no')

    block head
        meta(property="og:url", content="https://www.your-domain.com/your-page.html")
        meta(property="og:type", content="website")
        meta(property="og:title", content="Your Website Title")
        meta(property="og:description", content="Your description")
        meta(property="og:image:secure_url", content="https://www.your-domain.com/path/image.jpg")
        title The Great Singapore Replay: Season 2
    
    
    // Stylesheets 
    link(rel='stylesheet', href='clientlibs/css/plugins.css')
    link(rel='stylesheet', href='https://use.typekit.net/lhi2oiy.css')
    link(rel='stylesheet', href='clientlibs/css/components.css')
    link(rel='icon', type='image/x-icon', href='clientlibs/images/tgsr_favicon/favicon.ico')

    
  body.about-background
    // Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-538D4FF' height='0' width='0' style='display:none;visibility:hidden')
    // End Google Tag Manager (noscript)
  
    include ../common/header.pug

    block content

    include ../common/footer-3.pug

    .site-maintenance
        img(src="/clientlibs/images/tgsr_ie.png", alt="")

    // Plugin Scripts
    script(src='clientlibs/js/plugins/jquery.js')
    script(src='clientlibs/js/plugins/bootstrap.min.js')
    script(src='clientlibs/js/plugins/slick.js')
    //![if !IE]
    script(src='clientlibs/js/plugins/aos.js')
    //![endif]

    //- script(src='clientlibs/js/plugins/owl.carousel.min.js')
    
    // Custom Scripts
    script(src='clientlibs/js/scripts.js')
