<!-- Start: Accordion Component -->
- var accordionType

mixin accordion(className, accordion1)
  - accordionType = 'cards'
  .accordion.component.md-accordion(class=className, role='tablist', aria-multiselectable='true', id=accordion1)
    block
      
mixin card(cardClass, accordionState, index, title, accordionNo)
  case accordionType
    when 'cards'
      .card(class=cardClass)
        .card-header(id='accordion-bar'+'-'+index, role='tab')
          a(class='collapsed', data-toggle='collapse', data-parent='#accordion'+accordionNo, href=('#collapse'+index), aria-expanded='true', aria-controls=('collapse'+index))
            .title=title
            i.fa.fa-angle-down
            i.fa.fa-angle-up
            
              
        .collapse(class=accordionState, id='collapse'+index, role='tabpanel', aria-labelledby='accordion-bar'+'-'+index, data-parent='#accordion'+accordionNo)
          .card-body
            block

<!-- End: Accordion Component -->