<!-- Start: Hero Banner Component -->
mixin hero-banner(className, imageSource, bannerHeight, textPadding)
  .hero-banner-block(class=className)
    .hero-image
      img(src= imageSource)

    .hero-text(style='height:'+ bannerHeight + ';' + 'padding:'+ textPadding )
      .text-content
        block
<!-- End: Hero Banner Component -->
