<!-- Start: Image Text Component -->
//- mixin image-text(className, imageSource)
mixin image-text(className, imageSource)
    .image-text.component
        .row(class=className)
            .image-block
                img(src= imageSource )

            .col.text-block
                block
<!-- End: Image Text Component -->
