<!-- Start: List on desktop, accordion on mobile Component -->
- var accordionList

mixin listAccordion(listTitle)
    - accordionList = 'accordList'
    ul.accordion-listing.component
        li.footerColumn
            .footerMenu
                span.fa.fa-chevron-down(aria-hidden='true')
                h3.footerTitle= listTitle
                    
                ul.footerLinksList
                    block

mixin accordList(href, listContent)
    case accordionList
        when 'accordList'
            li.footerLinksListItem
                a(href=href)= listContent
<!-- End: List on desktop, accordion on mobile Component -->