<!-- Start: Navigation Component -->
mixin navigation(navType, navAlign)
  nav.navbar(class=navType)
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample08', aria-controls='navbarsExample08', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
        i.fa.fa-bars
    #navbarsExample08.collapse.navbar-collapse.justify-content-md-center
      ul.navbar-nav(class=navAlign)
        block

mixin navigationItem(href, linkName)
  li.nav-item
    a.nav-link(href=href)= linkName
    block

mixin dropdown(index, linkName)
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(id='dropdown'+'-'+index, data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Components 
      i.fa.fa-chevron-down
    .dropdown-menu(aria-labelledby='dropdown'+'-'+index)
      block

mixin dropdownItem(itemLink, itemName)
    a.dropdown-item(href=itemLink)= itemName


<!-- End: Navigation Component -->