<!-- Start: Social Media Component -->
- var listType

mixin social-media(type)
    - listType = 'icon'
    ul.social-media.component(class=type)
        block
        
mixin icon(href, className)
    case listType
        when 'icon'
            li.social-icon
              a(href=href)
                i.fa(class=className)
<!-- End: Social Media Component -->