<!-- Start: Footer Component -->
footer.body-contents.relative
    .container-fluid.footer-contents
        .row
            .col-12.col-sm-4.col-md-3.col-lg-3.col-xl-3
                ul.footer-list.footer-left
                    li
                        .title Presented by
                        .partner-logo
                            a.no-line(href="https://www.temasek.com.sg/" target="_blank")
                                img(src="clientlibs/images/global/logo_temasek_white@2x.png")
                            


            .col-12.col-sm-8.col-md-9.col-lg-9.col-xl-9
                .footer-logos-block
                    .footer-logos-content
                        img(src="clientlibs/images/footer/footer-logo.png")
                //- ul.footer-list.footer-right
                //-     li
                //-         .title Supported By
                //-         .partner-logo
                //-             img(src="clientlibs/images/global/logo_sony_white@2x.png")
                //-     li
                //-         .title
                //-         .partner-logo
                //-             img(src="clientlibs/images/global/logo_universal_white@2x.png")
                //-     li
                //-         .title
                //-         .partner-logo
                //-             img(src="clientlibs/images/global/logo_warner_white@2x.png")
                //-     li
                //-         .title In support of
                //-         .partner-logo
                //-             img(src="clientlibs/images/global/logo_bicentannial_white@2x.png")

    //- .bottom-blur-background.body-contents
    //-     img(src='clientlibs/images/lights/bottom-background.png')
<!-- End: Footer Component -->
