<!-- Start: Header Component -->
// Start: Logo
.tgsr-logo.home-carousel-active
    //- img(src="clientlibs/images/navigation/logo_tgsr_yellow@2x.png")
    a(href="/")
      img(src="clientlibs/images/global/tgsr_logo.gif")
header.absolute-header
  audio(src='clientlibs/audio/songs.wav' id="notifypop")
  ul.nav-bar
    li
      .share-icon
        img(src="clientlibs/images/navigation/icon_share@2x.png")
        .social-share-link
          a(href='https://www.facebook.com/sharer.php?u={url}', title='facebook', target='_blank')
            img(src="clientlibs/images/global/icon-facebook@2x.png")
          a(href="https://twitter.com/intent/tweet?url={url}", title="Twitter", target="_blank")
            img(src="clientlibs/images/global/icon-twitter@2x.png")
    
    li(class="hamburger")
      .menu-icon
        .bars
          .bar-1
          .bar-2
          .bar-3
  .nav-menu
    .navbar-anchors
      .tgsr-logo-inside
        a(href="/")
          img(src="clientlibs/images/global/tgsr_logo.gif")

     ul.main-links
        li
          a(href="/" class="hamburger") HOME
        li
          a(href="/artists/" id="artists") FINAL 10 MUSIC ACTS
        li
          a(href="singapore-finest-artists.html" id="establishedartists") ESTABLISHED ARTISTS
        li
          a(href="/producers/" id="musicproducers") MUSIC PRODUCERS
        li
          a(href="/mashup-gallery/" id="themashups") THE MASHUPS
        li
          a(href="/spin-player/" id="spinplayer") SPIN PLAYER
        li
          a(href="times-tunes.html" id="timesntunes") TIMES & TUNES
        li
          a(href="events.html" class="events") EVENTS
        
        

      ul.other-links
        li
          a(href="/about.html" id="abouthtml") ABOUT THE PROGRAMME
        li
          a(href="alumni.html" id="thealumni") THE ALUMNI
        li
          a(href="alumni.html" id="replaystories") REPLAY STORIES
        li
          a(href="/faq.html" id="faqs") FAQs
        li
          a(href="/tnc.html" target="_blank" id="termscondition") TERMS &amp; CONDITIONS
        
        li 
          a(href="/privacy.html" target="_blank" id="privacy") PRIVACY POLICY
        li.social-icons-list
          a#facebook_social(href="https://www.facebook.com/thegreatsingaporereplay/")
            img(src="clientlibs/images/global/icon_fb@2x.png")
          a#instagram_social(href="https://www.instagram.com/thegreatsingaporereplay/")
            img(src="clientlibs/images/global/icon_ig@2x.png")
          //- a#twitter_social(href="#")
          //-   img(src="clientlibs/images/global/icon_tw@2x.png")

    //- .fog-light-background
    //-   img(src="clientlibs/images/lights/stere-background-blur.png")

    .navigation-background
      img.for-desktop(src="clientlibs/images/navigation/nav-background.jpg")
      img.for-mobile(src="clientlibs/images/navigation/nav-background-mobile.jpg")
    .spot-lights
        .spot-light-left.static
            img(src="clientlibs/images/lights/img_spotlight_faded@2x.png")
        .spot-light-right.static
            img(src="clientlibs/images/lights/img_spotlight_faded@2x.png")
    .bottom-background
      //- .text-title
      //-   .title Presented by
      a.no-line(href="https://www.temasek.com.sg/" target="_blank")
        //-  img(src="clientlibs/images/global/logo_temasek_black.png")
        img(src="clientlibs/images/navigation/bg_hero_nav@2x.png")

<!-- End: Header Component -->
