// Start: Accordion
.accordion.component{
    .card{
        background-color:transparent;
        border:0px;
        margin-bottom:15px;
        .card-header{
            padding: 0px 0px 20px 0px;
            background: transparent;
            border:0px;
            a{
                display:flex;
                align-items:flex-start;
                text-transform: capitalize;
                font-weight: normal;
                text-decoration: none;
                font-size: $h5-font-size - 4;
                font-weight: normal;
                .title{
                    width:90%;
                    @media(max-width: $mobile + 'px'){
                        width: 95%;
                    }
                }
                .fa{
                    // margin-right:10px;
                    font-size: 30px;
                    line-height: 20px;
                }

                .fa-angle-up{
                    display:inline-block;
                }
                .fa-angle-down{
                    display:none;
                }

                &.collapsed{
                    .fa-angle-up{
                        display:none;
                    }
                    .fa-angle-down{
                        display:inline-block;
                    }
                }
            }
        }

        .card-body{
            margin-bottom:40px;
            padding:0px;
        }
        
    }

}
// End: Accordion 