body.alumni-background{
    background-image:url('../images/lights/alumni-background-pattern.png'),url('../images/lights/alumni-background-color.png');
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
    &.background-toggle{
        background-image: none;
    }
}
.alumni-page{
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    // background: rgba(22,31,115,1);
    // background: rgba(21,10,32,1);
    // background: -moz-linear-gradient(left, rgba(21,10,32,1) 0%, rgba(15,52,145,1) 29%, rgba(15,52,145,1) 71%, rgba(21,10,32,1) 100%);
    // background: -webkit-gradient(left top, right top, color-stop(0%, rgba(21,10,32,1)), color-stop(29%, rgba(15,52,145,1)), color-stop(71%, rgba(15,52,145,1)), color-stop(100%, rgba(21,10,32,1)));
    // background: -webkit-linear-gradient(left, rgba(21,10,32,1) 0%, rgba(15,52,145,1) 29%, rgba(15,52,145,1) 71%, rgba(21,10,32,1) 100%);
    // background: -o-linear-gradient(left, rgba(21,10,32,1) 0%, rgba(15,52,145,1) 29%, rgba(15,52,145,1) 71%, rgba(21,10,32,1) 100%);
    // background: -ms-linear-gradient(left, rgba(21,10,32,1) 0%, rgba(15,52,145,1) 29%, rgba(15,52,145,1) 71%, rgba(21,10,32,1) 100%);
    // background: linear-gradient(to right, rgba(21,10,32,1) 0%, rgba(15,52,145,1) 29%, rgba(15,52,145,1) 71%, rgba(21,10,32,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#150a20', endColorstr='#150a20', GradientType=1 );
    
    @media(max-width:$medium-screen + 'px'){
        padding-top:30px;
    }
    @media(max-width:$mobile + 'px'){
        padding-top:20px;
        padding-left:0px;
        padding-right:0px;
        .container-2{
            position: relative;
            z-index: 2;
            padding:0px;
            padding-left:20px;
            padding-right:20px;

        }
    }
    &:before{
        // content:'';
        // width:100%;
        // height:100%;
        // display:block;
        // position: absolute;;
        // top:0px;
        // left:0px;
        // z-index: 0;
        // background-image:url('../images/lights/img-bkgrd-top@2x.png');
        // background-size:100% 100%;
        // background-repeat: no-repeat;
    }

    
    .container-2{
        position: relative;
        z-index: 2;
        
    }
    
    .page-title{
        margin-bottom:60px;
        h3{
            margin-bottom:50px;
        }
        @media(max-width: $mobile + 'px'){
            h3{
                text-align:center;
            }
            margin-bottom:40px;
        }
    }
    .partner-quotes{
        margin-bottom:80px;
        // align-items: center;
        align-items:flex-start;
        
        h5{
            margin-bottom:40px;
            width:100%;
            @media(max-width: $mobile + 'px'){
                margin-bottom: 0px;
                line-height: $h5-line-height + 2;
            }
        }
        .partner-logos{
            padding:7px 10px; 
            @media(max-width: $mobile + 'px')  {
                padding: 20px 0px;
                text-align:left;
                width: 220px;
            }
        }
        .quotes-info{
            padding: 0px 40px;
            @media(max-width: $mobile + 'px'){
                padding:0px;
            }
            p{
                &:before{
                    content:'';
                    width:35px;
                    height:26px;
                    background-image:url('../images/global/img_open_quote_alumni@2x.png');
                    display:block;
                    background-size:cover;
                    margin-bottom:5px;
                }
                &:after{
                    content: '';
                    width: 35px;
                    height: 26px;
                    background-image: url(../images/global/img_open_quote_alumni@2x.png);
                    background-size: auto 100%;
                    transform: rotate(180deg);
                    display: flex;
                    width: 100%;
                    background-repeat: no-repeat;
                    margin-top:5px;
                }
            }
            &.no-quotes-icon{
                p{
                    &:before, &:after{
                        display:none;
                    }
                }
            }
        }
        .alumni-info{
            display:flex;
            align-items:flex-end;
            margin-top: 0px;
            padding: 0px 40px;
            margin-bottom: 20px;
            @media(max-width: $mobile + 'px'){
                padding:0px;
                margin-top:10px;
            }
            .title{
                width:50%;
                font-weight: bold;
            }
            .social-icons{
                width:50%;
                justify-content: flex-end;
                a{
                    margin-left:20px;
                    &:after{
                        display:none;
                    }
                    img{
                        max-height:28px;
                    }
                }
            }
        }
        
        @media(max-width: $mobile + 'px'){
            margin-bottom:50px;
        }
    }

    p{
        // font-size: $body-font-size - 2;
        // line-height: $body-line-height - 5;
        // margin-bottom:0px;
    }

    .partner-profile{
        .title-blue{
            @media(max-width: $mobile + 'px'){
                margin-bottom:20px;
            }
        }
        .title{
            text-align:center;
            margin:5px auto 40px auto;
            @media(max-width: $mobile + 'px'){
                margin: 10px auto 30px auto;
            }
        }
        .partner-logos{
            @media(max-width: $mobile + 'px'){
                padding: 0px;
            }
        }
    }

   .boombox-page-end{
        position: relative;
        z-index: 3;
        width: 100%;
        overflow: hidden;
        @media(max-width: $mobile + 'px'){
            padding:0px 10px;
        }
        img{
            width: 60%;
            left: -15%;
            max-width: none;
            margin: 0px auto;
            display: block;
            position: relative;
            left: auto;
            right: auto;
            @media(max-width: $ipad + 'px'){
                width: 100%;
            }
            @media(max-width: $mobile + 'px'){
                width: 100%;
                // left: -50%;
            }
            @media(max-width: $sm-mobile + 'px'){
                width: 100%;
                
            }
        }
        .boombox-title{
            text-align:center;
            position: relative;
            left:0px;
            right:0px;
            top:0px;
            z-index:2;
            @media(max-width: $sm-mobile + 'px'){
                top: 15%;
            }
            h3{
                margin-bottom:15px;
            }
            a{
                margin-top:30px;
            }
        }
   }

   
   

    .background-pattern-left{
        position: fixed;
        width: 20vw;
        top: 25%;
        left: -10.3%;
        @media(max-width: $ipad + 'px'){
            display:none;
        }
    }
    .background-pattern-right{
        position: fixed;
        width: 20vw;
        bottom: 5%;
        right: -10.3%;
        transform: scaleX(-1);
        @media(max-width: $ipad + 'px'){
            display:none;
        }
    }
    
}

.alumni-background-pattern{
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    right: 0px;
    max-height:2000px;
    overflow:hidden;
    .for-mobile{
        display:none;
    }
    @media(max-width: $ipad + 'px'){
        .for-mobile{
            display:block;
        }
        .for-desktop{
            display:none;
        }
    }
}
