body.events-background{
    background-image:url('../images/events/events-desktop-background.jpg');
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
    &.background-toggle{
        background-image: none;
    }
    // @media(max-width: $mobile + 'px'){
    //     background-image:url('../images/events/events-mobile-background.jpg');
    // }

}
.events-page{
    .events-carousel-container{
        height:580px;
        @media(max-width: $ipad + 'px'){
            height:auto;
        }
        .events-slider{
            width:100%;
            margin-bottom:0px !important; 
            position:relative;
            // display: none;
            z-index:1;
            // top: -70px;
            .events-slider-item{
                width: 100%;
                padding: 8px 60px;
                display: flex;
                align-items: center;
                // min-height: 75vh;
                height:auto;
                min-height:500px;
                justify-content: center;
                position:relative;
                overflow:visible;
                @media(max-width: $medium-screen + 'px'){
                    padding: 8px 30px;
                }
                @media(max-width: $ipad + 'px'){
                    padding:0px;
                    overflow:hidden;
                }
                @media(max-width: $mobile + 'px'){
                    padding:0px 0px 40px 0px;
                    min-height:auto;
                    overflow:visible;
                    // overflow:hidden;
                    // height:auto;
                }
                @media(max-width: $sm-mobile + 'px'){
                    height:auto;
                }
                @media(max-height: 600px){
                    height:auto;
                    min-height: 560px;
                }
                .item-content-block{
                    display: flex;
                    align-items: center;
                    padding: 0px 20px;
                    width:100%;
                    justify-content: flex-end;
        
                    @media all and (-ms-high-contrast:none)
                    {
                        // position: absolute;
                        // top: 50%;
                        // left: 50%;
                        // transform: translate(-50%, -50%);
                    }
        
                    // max-width: 1150px;
                    @media(max-width: $ipad + 'px'){
                        padding:0px 40px;
                    }
                    @media(max-width: $mobile + 'px'){
                        // flex-wrap: wrap;
                        display:block;
                        padding:0px;
                        height:auto;
                    }
                    .image-block{
                        width:43%;
                        min-height:329px;
                        @media(max-width: $mobile + 'px'){
                            width:100%;
                            overflow:hidden;
                        }
                        img{
                            // width: 170%;
                            width: 150%;
                            max-width: none;
                            top: -30px;
                            position: relative;
                            left: -5%;
                            @media(max-width: $mobile + 'px'){
                                width: 130%;
                                left: 0%;
                                top:30px;
                            }
                        }
                    }
                    .text-block{
                        width:57%;
                        position: relative;
                        z-index: 1;
                        padding:10px;
                        @media(max-width: $ipad + 'px'){
                            width:50%;
                        }
                        @media(max-width: $mobile + 'px'){
                            width: 100%;
                            padding-top:0px;
                        }
                        @media(max-width: $sm-mobile + 'px'){
                            width:100%;
                            padding-top:0px;
                        }
                        
                        .text-content{
                            text-align:center;
                            h5{
                                text-transform: uppercase;
                            }
                            h3{
                                text-transform: uppercase;
                                margin-bottom:10px;
                                line-height:40px;
                            }
                            .event-details{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 25px auto;
                                @media(max-width: $ipad + 'px'){
                                    flex-wrap: wrap;
                                }
                                @media(max-width: $mobile + 'px'){
                                    flex-wrap: nowrap;
                                }
                                @media(max-width: $sm-mobile + 'px'){
                                    flex-wrap: wrap;
                                }
                                .event-item{
                                    font-size: $h5-font-size - 3;
                                    font-weight: bold;
                                    color: $primary-color;
                                    padding:0px 20px;
                                    @media(max-width: $ipad + 'px'){
                                        width:100%;
                                    }
                                    @media(max-width: $mobile + 'px'){
                                        width:auto;
                                    }
                                    @media(max-width: $sm-mobile + 'px'){
                                        width:100%;
                                    }
                                    &:first-child{
                                        border-right:1px solid $primary-color;
                                        @media(max-width: $ipad + 'px'){
                                            border:0px;
                                        }
                                        @media(max-width: $mobile + 'px'){
                                            border-right:1px solid $primary-color;
                                        }
                                        @media(max-width: $sm-mobile + 'px'){
                                            border:0px;
                                        }
                                    }
                                }
                            }
                            
                            a{
                                font-size: $body-font-size;
                                margin-top:10px;
                                display:inline-block;
                            }
                        }
                    }
                }
            }
            .slick-list.draggable{
                padding:0px !important;
            }
        
            .slick-prev{
                &.slick-arrow{
                    left:50px;
                    z-index: 2;
                    @media(max-width: $medium-screen + 'px'){
                        left:30px;
        
                        top:50%;
                        transform: none;
        
                    }
                    @media(max-width: $sm-mobile + 'px'){
                        left: 15px;
                        width: 70%;
                        max-width: 370px;
        
                        top:25%;
                        transform: none;
                    }
        
        
                }
                &:before{
                    content: '';
                    background-image: url(../images/global/arrow_left@2x.png);
                    height: 24px;
                    display: block;
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                }
            }
        
            .slick-next{
                &:before{
                    content: '';
                    background-image: url(../images/global/arrow_left@2x.png);
                    height: 24px;
                    display: block;
                    background-repeat: no-repeat;
                    background-size: auto 100%;
                    transform:scaleX(-1);
                }
                &.slick-arrow{
                    right:50px;
                    z-index: 2;
                    @media(max-width: $medium-screen + 'px'){
                        right:30px;
        
                        
                        top:50%;
                        transform: none;
        
                    }
                    @media(max-width: $sm-mobile + 'px'){
                        right: 15px;
                        top:25%;
                        transform: none;
                    }
                }
            }
        
            .slick-dots{
                bottom:15%;
                @media(max-width: $mobile + 'px'){
                    position: relative;
                    bottom: 0px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                li{
                    border:2px solid $white-color;
                    border-radius: 100%;
                    width:10px;
                    height:10px;
                    margin:0px 8px;
                }
                .slick-active{
                    background-color:$white-color;
                }
                
            }
        
        }
    }

    .events-container{
        background-image:url('../images/events/event-background-pattern.png');
        background-repeat: repeat-y;
        background-size: cover;
        @media(max-width: $mobile + 'px'){
            background-image: none;
        }
        .tabs-row{
            display:flex;
            align-items:center;
            justify-content:center;
            padding:20px 0px 60px 0px;
            @media(max-width: $mobile + 'px'){
                padding:20px 0px 30px 0px;
            }
            .tab-title{
                position:relative;
                z-index:2;
                padding:20px;
                a{
                    display:inline-block;
                    font-size:$h5-font-size + 6;
                    font-weight: bold;
                    color:$white-color;
                    text-transform: uppercase;
                    height: 30px;
                    &:hover{
                        color:$secondary-color;
                        &:after{
                            display:block;
                            border-bottom: 4px solid $secondary-color;
                            padding-top:5px;
                        }
                    }
                    &:after{
                        display:none;
                        padding-top:5px;
                    }
                    &.active{
                        &:after{
                            display:block;
                            border-bottom: 4px solid $secondary-color;
                            padding-top:5px;
                        }
                    }
                }
            }
        }

        .mic-icon-container{
            display:flex;
            justify-content:center;
            @media(max-width: $mobile + 'px'){
                justify-content: flex-start;
            }
            .mic-top{
                max-width:90px;
                @media(max-width: $mobile + 'px'){
                    max-width: 70px;
                    margin-left:20px;
                }
                &:after{
                    content:'';
                    display:block;
                    width:6px;
                    height:12px;
                    background-color:#014f42;
                    border-left:1.5px solid rgba($primary-color, 0.55);
                    border-right:1.5px solid rgba($primary-color, 0.55);
                    border-bottom:1.5px solid rgba($primary-color, 0.55);
                    margin:0px auto;
                }
            }
        }
                

        .events-timeline{
            position: relative;
            max-width: 1000px;
            margin: 0px auto;
            padding-top:0px;
            margin-bottom:120px;
            &:after{
                content: '';
                position: absolute;
                width: 2px;
                background-color:rgba($primary-color, 0.5);
                top: 0;
                bottom: 0;
                left: calc(50% + 2px);
                margin-left: -3px;
                @media(max-width: $mobile + 'px'){
                    left: 47px;
                    margin-left: 7px;
                }
            }
            .upcoming-timeline{
                display:none;
                &.active{
                    display:block;
                }
            }
            .past-timeline{
                display:none;
                &.active{
                    display:block;
                }

                ul li{
                    &:nth-child(odd){
                        left: 50%;
                        @media(max-width: $mobile + 'px'){
                            left: 0;
                        }
                        &:after {
                            left: -10px;
                            @media(max-width: $mobile + 'px') {
                                left: 45px;
                            }
                        }
                    }
                    &:nth-child(even){
                        left: 0;

                        &:after {
                            left: auto;
                            right: -10px;

                            @media(max-width: $mobile + 'px') {
                                left: 45px;
                                right: auto;
                            }
                        }
                    }
                }
            }
            ul{
                list-style:none;
                padding-left:0px;
                margin:0px;
                li{
                    padding: 0px 40px 20px 40px;
                    position: relative;
                    background-color: inherit;
                    width: 50%;
                    z-index: 1;
                    &:after {
                        content: '';
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        right: -10px;
                        background-color: $secondary-color;
                        top: 52px;
                        border-radius: 50%;
                        z-index: 1;
                        @media(max-width: $mobile + 'px'){
                            right:auto;
                            left:45px;
                        }
                    }
                    &:nth-child(odd){
                        left: 0;
                        @media(max-width: $mobile + 'px'){
                            width: 100%;
                            padding: 15px 20px 70px 100px;
                        }
                    }
                    &:nth-child(even){
                        left:50%;
                        @media(max-width: $mobile + 'px'){
                            left: 0px;
                            width: 100%;
                            padding: 15px 20px 70px 100px;
                        }

                        &:after {
                            left: -10px;
                            @media(max-width: $mobile + 'px') {
                                left: 45px;
                            }
                        }
                    }

                    .content{
                        .event-tag{
                            background-color: $tunes-color;
                            display: inline-block;
                            padding: 3px 10px;
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size:$body-font-size - 2;
                            margin-bottom:10px;
                        }
                        .event-schedule{
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            padding: 10px 0px 20px 0px;
                            letter-spacing: 0.5px;
                            @media(max-width: $sm-mobile + 'px'){
                                flex-wrap:wrap;
                            }
                            .schedule{
                                padding-right:10px;
                                border-right:1px solid $white-color;
                                @media(max-width: $sm-mobile + 'px'){
                                    border-right:0px;
                                }
                                &:last-child{
                                    padding-left:10px;
                                    border-right:0px;
                                    @media(max-width: $sm-mobile + 'px'){
                                        padding-left:0px;
                                    }
                                }
                            }
                        }
                    }
                    
                }

            }
        }
    }

    .popover.event-details{
        display:none;
        max-width: none;
        position: absolute;
        z-index: 5;
        top: 0px;
        left: 0px;
        border: 0px;
        width: 100%;
        height: 100vh;
        background-color: transparent;
        @media(max-width: $mobile + 'px'){
            padding-top:0px;
        }   
        .event-overlay-background{
            position:fixed;
            width:100%;
            height:100vh;
            img{
                height:100%;
                width:100%;
            }
        }
        .popover-container{
            .event-slide.container{
                margin-top:150px;
                .event-image{
                    text-align:center;
                    @media(max-width: $mobile + 'px'){
                        text-align:left;
                    }
                    img{
                        width:90%;
                        margin:0px auto;
                        @media(max-width: $mobile + 'px'){
                            width:100%;
                            max-width: 200px;
                        }
                    }
                }
                .event-overlay-detail{
                    @media(max-width: $mobile + 'px'){
                        padding-top:30px;
                    }
                    h5{
                        text-transform: uppercase;
                    }
                    h4{
                        font-size: $h3-font-size - 6;
                        line-height: $h3-line-height + 5 !important;
                        text-transform: uppercase;
                        line-height: 34px;
                        max-width: 560px;
                    }
                    .event-schedule{
                        display:flex;
                        align-items:center;
                        font-size: $body-font-size + 4px;
                        font-weight: bold;
                        margin:20px 0px;
                        @media(max-width: $ipad + 'px'){
                            flex-wrap: wrap;
                        }
                        .schedule{
                            padding-right:20px;
                            border-right:1px solid $white-color;
                            @media(max-width: $ipad + 'px'){
                                border:0px;
                                padding:0px;
                                width:100%;
                                margin-top:10px;
                            }
                            &:last-child{
                                border:0px;
                            }
                            &:last-child{
                                padding-right:0px;
                                padding-left:20px;
                                @media(max-width: $ipad + 'px'){
                                    padding:0px;
                                }
                            }
                            &.date{
                                &:before{
                                    content:'';
                                    width: 25px;
                                    height:25px;
                                    background-image:url('../images/global/icon-date.png');
                                    background-size:cover;
                                    background-repeat: no-repeat;
                                    display:inline-block;
                                    vertical-align: bottom;
                                    margin-right:5px;
                                }
                            }
                            &.place{
                                &:before{
                                    content:'';
                                    width: 25px;
                                    height:25px;
                                    background-image:url('../images/global/icon-location.png');
                                    background-size:cover;
                                    background-repeat: no-repeat;
                                    display:inline-block;
                                    vertical-align: bottom;
                                    margin-right:5px;
                                }
                            }
                        }
                    }
                    .scroll-container.details{
                        p{

                        }
                    }
                }
            }
        }
    }
}


.events-text-info{
    height:auto !important;
    .events-slider{

    }
    .events-slider-item{
        min-height:auto !important;
        margin-top:80px;
        
    }
    .text-block{
        margin:0px auto;
        width:67% !important;
        @media(max-width: $mobile + 'px'){
            width:90% !important;
        }
        h3, h5{
            max-width:700px;
            margin-left:auto;
            margin-right:auto;
        }
    }
}