// Start: Header 
footer{
    position: fixed;
    bottom: -10px;
    width: 100%;
    left: 0px;
    right: 0px;
    // height: 130px;
    height: 90px;
    z-index: 1;
    // background-image: url(../images/footer/footer-background.png);
    background-image:url('../images/home-page/background-shadow.png');
    background-position: top;
    background-size: auto 150%;
    background-repeat: repeat-x;
    display: flex;
    align-items: flex-start;
    // padding: 10px 40px 0px 40px;
    // padding: 40px 20px 0px 20px;
    padding: 0px 20px 0px 20px;
    @media(max-width: $ipad + 'px'){
        padding:10px 0px;
        height:90px;
    }
    @media(max-width: $mobile + 'px'){
        padding:0px;
        height:60px;
        position: relative;
        bottom:0px;
    }
    @media(max-width: $sm-mobile + 'px'){
        height:140px;
    }
    @media(max-width: $xs-mobile +'px'){
        .col-3, .col-9{
            padding:0px;
        }
    }
    &.relative{
        position:relative;
        bottom:0px;
        &:before{
            content: '';
            display: block;
            /* background-color: red; */
            width: 100%;
            height: 128px;
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-image: url(../images/home-page/background-shadow.png);
            background-size: auto 100%;
            background-repeat: repeat-x;
            z-index: 0;
            background-position: top left;
            filter: blur(41px);
            background-position: top left;;
            @media(max-width: $mobile + 'px'){
                height:140px;
            }
        }
        .footer-contents{
            position:relative;
            z-index: 1;
        }
    }
    &.transparent-relative{
        position:fixed;
        bottom:0px;
        @media(max-width: $mobile + 'px'){
            // position:fixed;
            // bottom:0px;
        }
    }
    
    .footer-logos-block{
        display:flex;
        justify-content: flex-end;
        @media(max-width: $sm-mobile + 'px'){
            justify-content:center;
            padding:5px 0px;
        }
        .footer-logos-content{
            max-width:450px;
            @media(max-width: 1100px){
                max-width:420px;
            }
            @media(max-width: $ipad + 'px'){
                max-width: 380px;
                padding-top:5px;
            }
            img{
                width:100%;
            }
        }
    }
    .footer-list{
        list-style:none;
        padding:0px;
        display:flex;
        &.footer-left{
            @media(max-width: $sm-mobile + 'px'){
                justify-content:center;
                li{
                    .title{
                        justify-content: center;
                        padding-bottom:15px;
                    }
                }
            }
            li{
                margin-left:0px;
                img{
                    max-width:120px !important;
                    @media(max-width: $mobile + 'px'){
                        max-width:70px !important;
                    }
                    @media(max-width: $sm-mobile + 'px'){
                        max-width:120px !important;
                    }

                }
            }
            @media(max-width: $xs-mobile + 'px'){
                transform: scale(0.8) translate(0px, 10px);
            }
        }
        &.footer-right{
            justify-content:flex-end;
            @media(max-width: $sm-mobile + 'px'){
                margin-left:-25px;
            }
            @media(max-width: $xs-mobile + 'px'){
                transform: scale(0.8) translate(0px, 10px);
            }
            li{
                margin-left:30px;
                @media(max-width: $sm-mobile + 'px'){
                    margin-left:10px;
                    width: 25%;
                    display: inline-flex;
                    justify-content:center;
                    flex-wrap: wrap;
                }
                img{
                    max-width: 100px;
                    @media(max-width: $mobile + 'px'){
                        max-width: 70px;
                    }
                }
                
            }
        }
        .title{
            height: 20px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            padding-bottom:4px;
            font-size: $footer-title - 1;
            @media(max-width: $sm-mobile + 'px'){
                height: 6px;
                font-size: $footer-title - 2;
            }
        }
        .partner-logo{
            height: 30px;
            display: flex;
            align-items: center;
            // img{
            //     max-width: 70px;
            // }
        }
        li{
            .partner-logo{
                height: 30px;
                display: flex;
                align-items: center;
                // img{
                //     max-width: 70px;
                // }
            }
            &:nth-child(2){
                img{
                    max-width:50px;
                }
            }
            &:nth-child(3){
                img{
                    max-width:40px;
                }
            }
        }
    }
    .bottom-blur-background{
        position: absolute;
        bottom: 0px;
        width: 100%;
        left: 0px;
        right: 0px;
        z-index: 0;
    }

}
// End: Header 