// Start: Header
header{
    padding:50px;
    position:relative;
    left:0px;
    top:0px;
    right:0px;
    z-index:3;
    #notify{
    display:none;
    }
    &.absolute-header{
        position:absolute;
        top:0px;
        right:0px;
    }
    @media(max-width: $ipad + 'px'){
        padding:30px;
    }
 
    .nav-bar{
        display:flex;
        align-items:center;
        justify-content: flex-end;
        width:100%;
        list-style: none;
        margin-bottom: 0px;
        z-index:5;
        li{
            margin-left: 15px;
            position: relative;
            width: 37px;
            height: 36px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            .share-icon{
                width:100%;
                text-align:right;
                position:relative;
                padding:10px 0px;
                img{
                    max-height:17px;
                }
                &:after{
                    content:'';
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid $body-color;
                    position:absolute;
                    bottom:0px;
                    left:25px;
                    opacity:0;
                    visibility: hidden;
                }
                .social-share-link{
                    display:none;
                    flex-wrap: wrap;
                    max-width: 100px;
                    left: 10px;
                    width:40px;
                }
                &:hover{
                    &:after{
                        opacity:1;
                        visibility: visible;
                    }
                    .social-share-link{
                        display: flex;
                        position:absolute;
                        border:0.2px solid $body-color;
                        background-color: rgba($body-color, 0.3);
                        top:43px;
                        padding:10px;
                       
                        a{
                            width: 100%;
                            display: block;
                            text-align: center;
                            padding: 0px 0px 10px 0px;
                            &:after{
                                display:none;
                            }
                            &:last-child{
                                padding:0px;
                            }
                            img{
                                max-height:20px;
                            }
                        }
                    }
                }
            }
 
            .music-icon{
                width: 20px;
                height: 16px;
                display: flex;
                justify-content: space-between;
                transform:rotate(180deg);
                display:none
                div{
                    width: 1px;
                    height: 100%;
                    background-color: #fff;
                }
                .equalizer-1{
                    height:50%;
                    -webkit-animation: bar-animate 2s linear infinite;
                    animation: bar-animate 2s linear infinite
                }
                .equalizer-2{
                    height:90%;
                    -webkit-animation: bar-animate 3s linear infinite;
                    animation: bar-animate 3s linear infinite
                }
                .equalizer-3{
                    height:30%;
                    -webkit-animation: bar-animate 1.5s linear infinite;
                    animation: bar-animate 1.5s linear infinite
                }
                .equalizer-4{
                    height:70%;
                    -webkit-animation: bar-animate 2.5s linear infinite;
                    animation: bar-animate 2.5s linear infinite
                }
                .equalizer-5{
                    height:20%;
                    -webkit-animation: bar-animate 1.5s linear infinite;
                    animation: bar-animate 1.5s linear infinite
                }
 
                &.paused{
                    .equalizer-1, .equalizer-2, .equalizer-3, .equalizer-4, .equalizer-5{
                        animation-play-state: paused;
                    }
                }
            }
 
            .menu-icon {
                position: relative;
                top: 0px;
                left:0px;
                z-index: 100;
                border: 1px solid $white-color;
                width: 37px;
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                padding: 10px 0;
                -webkit-transition: .2s -webkit-transform ease-out;
                transition: .2s -webkit-transform ease-out;
                transition: .2s transform ease-out;
                transition: .2s transform ease-out,.2s -webkit-transform ease-out;
                .bars{
                    width: 18px;
                    height: 12px;
                    position: relative;
                    left: 0px;
                    -webkit-transition: .3s -webkit-transform ease-out;
                    transition: .3s -webkit-transform ease-out;
                    transition: .3s transform ease-out;
                    transition: .3s transform ease-out,.3s -webkit-transform ease-out;
                    div{
                        height: 1px;
                        width: 100%;
                        background: #fff;
                        position:absolute;
                    }
                    .bar-1 {
                        top:0px;
                    }
                    .bar-2 {
                        top:6px;
                    }
                    .bar-3{
                        top:12px;
                    }
                }
 
                &:hover{
                    // transform:rotate(-90deg);
                    cursor: pointer;
                    .bars{
                        
                        // height: 18px;
                        // width: 12px;
                        // transform: rotate(90deg);
                        transition: all .5s ease-in-out;
                        div{
                            // width:1px;
                            // height:100%;
                            transform: rotate(0deg) translate(0px, 0px);
                        }
                        .bar-1{
                            // top: auto;
                            // bottom: 0px;
                            // -webkit-animation: bar-animate 4s linear infinite;
                            // animation: bar-animate 4s linear infinite
                        }
                        .bar-2{
                            // top: auto;
                            // bottom: 0px;
                            // left: 6px;
                            // -webkit-animation: bar-animate 2s linear infinite;
                            // animation: bar-animate 2s linear infinite
                        }
                        .bar-3{
                            // height: 100%;
                            // top:auto;
                            // bottom: 0px;
                            // left:12px;
                            // -webkit-animation: bar-animate 3s linear infinite;
                            // animation: bar-animate 3s linear infinite
                        }
                    }
                }
 
            }
           
        }
    }
 
    .nav-menu{
        display:none;
        opacity:0;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        // background: #021940;
        z-index: 2;
        transition: opacity 1s;
        -webkit-transition: opacity 1s;

        @media(max-width: $mobile + 'px'){
            padding:0px 10px;
        }
        @media(max-height: 599px){
            position: absolute;
            padding:0px;
        }
        .navbar-anchors{
            width:100%;
            .main-links{
                width: 100%;
                text-align: center;
                // margin-top: 12%;
                // margin-top:13%;
                list-style:none;
                padding:0px;
                margin-bottom:20px;
                position: relative;
                z-index: 2;
                li{
                    margin-bottom:10px;
                    @media(min-height:600px) and (max-height: 660px){
                        margin-bottom:5px;
                    }
                }
            }
            .other-links{
                width: 100%;
                text-align: center;
                list-style:none;
                padding:0px;
                position: relative;
                z-index: 2;
                li{
                    // margin-bottom:8px;
                    &.social-icons-list{
                        a{
                            margin:4px 5px;
                        }
                    }
                }
            }
            a{
                &:after{
                    display:none;
                }
            }
        }
        .fog-light-background{
            position: absolute;
            z-index: 0;
            top: 12%;
            left: 25%;
            width: 50%;
        }
        .bottom-background{
            position: absolute;
            bottom: -10px;
            width: 45%;
            z-index: 0;
            margin: 0px auto;
            left: 0px;
            right: 0px;
            a{
                display:block;
            }
            @media(max-width: 1100px){
                width: 55%;
            }
            @media(max-width: $ipad + 'px'){
                width: 80%;
                margin: 0px auto;
                display: block;
                left: 0px;
                right: 0px;
            }
            @media(max-width: $mobile + 'px'){
                // width: 120%;
                // left: -10%;
                transform: scale(1);
                left: 0px;
                right: 0px;
                transform-origin: bottom;
            }
            @media(max-width: $sm-mobile + 'px'){
                width:160%;
                left: -30%;
            }
            @media(max-height:599px){
                position: relative;
                top: -80px;
                width: 100%;
                left: 0px;
                right: 0px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                a{
                    width: 140%;
                    max-width: none;
                    margin: 0px auto;
                    display: block;
                }
            }
            .text-title{
                text-align: center;
                bottom: 30px;
                position: absolute;
                width: 100%;
                @media(max-width: $mobile + 'px'){
                    bottom: 40px;
                }
                .title{
                    color: $body-color;
                    font-size: 10px;
                    // margin-bottom:5px;
                    text-transform: uppercase;
                    font-weight: 900;
                    line-height: 10px;   
                    margin-bottom:8px;               
                }
                img{
                    max-width: 8vw;
                    @media(max-width: $mobile + 'px'){
                        max-width: 130px;
                    }
                }
            }
        }
        .navigation-background{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index:0;
            @media(max-height: 599px){
                position:fixed;
            }
            img{
                width:100%;
                height:100%;
                opacity:0.8;
            }
        }
        .tgsr-logo-inside{
            position: relative;
            margin:40px  30px;
            width: auto;
            z-index:2;
            text-align: left;
            @media(max-width: $ipad + 'px'){
                margin:30px auto;
            }
            @media(max-width: $mobile + 'px'){
                width: 100%;
            }
            @media(min-height:600px) and (max-height: 660px){
                margin:20px auto;
            }
            a{
                display: inline-block;
                width: 10%;
                @media(max-width: $ipad + 'px'){
                    width:120px;
                }
            }
           
        }      
    }
    &.active{
        .menu-icon{
            transform:rotate(-90deg);
            -webkit-transform:rotate(-90deg);
            position:fixed !important;
            top: 50px !important;
            right: 50px;
            left: auto !important;
            @media(max-width: $ipad + 'px'){
                top: 30px !important;
                right: 30px !important;
            }
            .bars{
                height: 18px;
                width: 12px;
                transform: rotate(-180deg);
                transition: all .5s ease-in-out;
                div{
                    width:1px;
                    height:100%;
                }
                .bar-1{
                    top: auto;
                    bottom: 0px;
                    -webkit-animation: close-animate-1 1.2s ease-out;
                    -moz-animation: close-animate-1 800ms ease-out;
                    -o-animation: close-animate-1 800ms ease-out;
                    animation: close-animate-1 1.2s ease-out;
                    animation-fill-mode: forwards;
                    // width: 30px;
                    // transform: rotate(45deg) translate(0px, 9px);
                   
                    // -webkit-animation: bar-animate 4s linear infinite;
                    // animation: bar-animate 4s linear infinite
                }
                .bar-2{
                    top: auto;
                    bottom: 0px;
                    left: 0px;
                   
                    -webkit-animation: close-animate-2 .6s ease-out;
                    animation: close-animate-2 .6s ease-out;
                    animation-fill-mode: forwards;
                    // opacity: 0;
                    // -webkit-animation: bar-animate 2s linear infinite;
                    // animation: bar-animate 2s linear infinite
                }
                .bar-3{
                    bottom: 0px;
                    left: 0px;
                    -webkit-animation: close-animate-3 1.2s ease-out;
                    -moz-animation: close-animate-3 800ms ease-out;
                    -o-animation: close-animate-3 800ms ease-out;
                    animation: close-animate-3 1.2s ease-out;
                    animation-fill-mode: forwards;
                }
            }
        }
        .nav-menu{

            -webkit-animation: fadeInFromNone .5s ease-out;
            -moz-animation: fadeInFromNone .5s ease-out;
            -o-animation: fadeInFromNone .5s ease-out;
            animation: fadeInFromNone .5s ease-out;

            display: block;
            opacity: 1;
        }
       
    }
   
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.tgsr-logo{
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 30px;
    width: 10%;
    // top: 20%;
    // left: 26%;
    // width:20%;
    z-index:10;
    transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    @media(max-width: $mobile + 'px'){
        width: 100px;
        top: 18px;
        left:20px; 
    }
    img{
        width:100%;
    }
    &.home-carousel-active{
        // top: 20%;
        // left: 26%;
        // width:20%;
        // display:none;
        
        // transition: all ease-in-out .4s;
        // -webkit-transition: all ease-in-out .4s;
        // @media(max-width: $medium-screen + 'px'){
        //     top: 25%;
        //     left: 25%;
        // }
        // @media(max-width: $ipad + 'px'){
        //     top: 23%;
        //     left: 18%;
        //     width: 23%;
        // }
        // @media(max-width: $mobile + 'px'){
        //     top: 11%;
        //     left: 32%;
        //     width: 36%;
        // }
 
        // @media(max-width: $sm-mobile + 'px'){
        //     top: 14%;
        //     left: 32%;
        //     width: 36%;
        // }
    }
    &.menu-triggered{
        // top: 8%;
        // left: 44%;
        // width: 10%;
        opacity:0;
        visibility: hidden;

        // transition: all ease-in-out .4s;
        // -webkit-transition: all ease-in-out .4s;
        @media(max-width: $mobile + 'px'){
            // width: 25%;
            // left: 38%;
            // top: 6%;
        }
    }
}

// End: Header

