// Home Page 


.spot-lights{
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    height:70vh;
    width:100%;
    overflow:hidden;
    z-index:1;
    pointer-events: none;
    @media(max-width: $mobile + 'px'){
        height:100vh;
    }
    .spot-light-left{
        &.infinite{
            position: absolute;
            transform: rotate(0deg);
            top: -200px;
            left: 3%;
            transform-origin: 12% 0%;
            transition:all ease-out .3s;
            -webkit-transition:all ease-out .3s;
            -webkit-animation: left-spotLight-infinite 8s ease-in-out infinite;
            animation: left-spotLight-infinite 8s ease-in-out infinite;
            @media(max-width: $ipad + 'px'){
                left:-10%;
            }
            @media(max-width: $mobile + 'px'){
                top: -120px;
                left: -7%;
            }
            img{
                max-width: 40vw;
                @media(max-width: $medium-screen + 'px'){
                    max-width: 60vw;
                }
                @media(max-width: $ipad + 'px'){
                    max-width: 60vw;
                }
                @media(max-width: $mobile + 'px'){
                    max-width: 80vw;
                }
            }
        }
        &.static{
            position: absolute;
            transform: rotate(0deg);
            top: -200px;
            left: 20%;
            transform-origin: 12% 0%;
            transition:all ease-out .3s;
            -webkit-transition:all ease-out .3s;
            z-index: -1;
            -webkit-animation: left-spotLight-infinite 8s ease-in-out infinite;
            animation: left-spotLight-infinite 8s ease-in-out infinite;
            @media(max-width: $medium-screen + 'px'){
                left:10%;
            }
            @media(max-width: $ipad + 'px'){
                left: 5%;
                top: -150px;
            }
            @media(max-width: $mobile + 'px'){
                left: 45%;
                -webkit-animation: navmobile-spotLight-infinite 8s ease-in-out infinite;
                animation: navmobile-spotLight-infinite 8s ease-in-out infinite;
                transform: rotate(35deg);
                top: -100px;
            }
            img{
                max-width: 40vw;
                @media(max-width: $medium-screen + 'px'){
                    max-width: 60vw;
                }
                @media(max-width: $ipad + 'px'){
                    max-width: 50vw;
                }
                @media(max-width: $mobile + 'px'){
                    max-width: 70vw;
                }
            }
        }
    }
    .spot-light-right{
        &.infinite{
            position: absolute;
            top: -200px;
            left: 30%;
            -webkit-transform: rotate(20deg);
            transform: rotate(0deg);
            transform-origin: 90% 0%;
            transition:all ease-out .3s;
            -webkit-transition:all ease-out .3s;
            -webkit-animation: right-spotLight-infinite 8s infinite;
            animation: right-spotLight-infinite 8s infinite;
            @media(max-width: $medium-screen + 'px'){
                left: auto;
                right: 25%;
            }
            @media(max-width: $ipad + 'px'){
                right:25%;
            }
            @media(max-width: $mobile + 'px'){
                top: -120px;
                right: -7%;
            }
            img{
                max-width: 40vw;
                transform:scaleX(-1);
                -webkit-transform:scaleX(-1);
                @media(max-width: $medium-screen + 'px'){
                    max-width: 60vw;
                }
                @media(max-width: $ipad + 'px'){
                    max-width: 60vw;
                }
                @media(max-width: $mobile + 'px'){
                    max-width: 80vw;
                }
            }
        }
        &.static{
            position: absolute;
            top: -200px;
            left: 40%;
            -webkit-transform: rotate(20deg);
            transform: rotate(0deg);
            transform-origin: 90% 0%;
            transition:all ease-out .3s;
            -webkit-transition:all ease-out .3s;
            z-index: -1;
            -webkit-animation: right-spotLight-infinite 8s infinite;
            animation: right-spotLight-infinite 8s infinite;
            @media(max-width: $medium-screen + 'px'){
                left: auto;
                right: 10%;
            }
            @media(max-width: $ipad + 'px'){
                left: auto;
                right: 5%;
                top: -150px;
            }
            @media(max-width: $mobile + 'px'){
                right:0px;
                display:none;
            }
            img{
                max-width: 40vw;
                transform:scaleX(-1);
                -webkit-transform:scaleX(-1);
                @media(max-width: $medium-screen + 'px'){
                    max-width: 60vw;
                }
                @media(max-width: $ipad + 'px'){
                    max-width: 50vw;
                }
                @media(max-width: $mobile + 'px'){
                    max-width: 70vw;
                }
            }
        }
    }
    &.menu-triggering{
        .spot-light-left{
            &.infinite{
                left:20%;
                transition:all ease-out .3s;
                -webkit-transition:all ease-out .3s;
            }
        }
        .spot-light-right{
            &.infinite{
                left:40%;
                transition:all ease-out .3s;
                -webkit-transition:all ease-out .3s;
            }
        }
    }
}

.background-lights{
    .pink-blue-light{
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100vh;
        overflow: hidden;
        opacity:1;
        @media(max-width: $mobile + 'px'){
            left: 0px;
            width: 100%;
        }
        @media(max-height:600px){
            height:100%;
        }
        img{
           width:100%;
        }
    }   
    
}


.home-slider{
    width:100%;
    margin-bottom:0px !important; 
    position:absolute;
    top:0px;
    display: none;
    z-index:1;
    @media(max-width: $mobile + 'px'){
        position:relative;
    }
    @media(max-width: $sm-mobile + 'px'){
        margin-top: -95px;
    }
    .home-slider-item{
        width: 100%;
        padding: 8px 60px; // 60px
        display: flex;
        align-items: center;
        // min-height: 75vh;
        height: 100vh;
        
        justify-content: center;
        position:relative;
        overflow:hidden;
        @media(max-width: $medium-screen + 'px'){
            padding: 8px 30px;
        }
        @media(max-width: $ipad + 'px'){
            padding:0px;
            overflow:hidden;
        }
        @media(max-width: $mobile + 'px'){
            padding:0px 0px 0px 0px;
            min-height:auto;
            overflow:visible;
            top: -25px;
            // overflow:hidden;
            // height:auto;
        }
        @media(max-width: $sm-mobile + 'px'){
            height:auto;
        }
        @media(max-height: 600px){
            height:auto;
            min-height: 0; // 60px
        }
        .item-content-block{
            display: flex;
            align-items: center;
            padding: 0px 100px;
            width:100%;
            justify-content: flex-end;

            @media all and (-ms-high-contrast:none)
            {
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
            }

            // max-width: 1150px;
            @media(max-width: $ipad + 'px'){
                padding:0px 40px;
            }
            @media(max-width: $mobile + 'px'){
                // flex-wrap: wrap;
                display:block;
                padding:0px;
                height:auto;
            }
            .image-block{
                width:47%;
                min-height:329px;
                &.second-image{
                    position: relative;
                    left: 35px;
                    
                    @media(max-width: $mobile + 'px'){
                        left: 0px;
                    }
                    @media(max-width: $sm-mobile + 'px'){
                        left: 0px;
                    }
                    @media(max-width: $medium-screen + 'px'){
                        left: 0px;
                    }
                    @media(max-width: 1199px){
                        left: 0px;
                        top: 100px;
                    }
                    @media(max-width: 767px){
                        left: 0px;
                        top: 0px;
                    }
                }
                @media(max-width: $medium-screen + 'px'){
                    width: 49%;
                    min-height: 290px;
                }
                @media(max-width: $mobile + 'px'){
                    width:100%;
                    margin-top: 0px;
                }
                @media(max-width: $sm-mobile + 'px'){
                    min-height:190px;
                    margin-top:0px;
                    max-height:500px;
                }
                @media(max-height: 600px){
                    margin-top: 0px;
                }
                .stage-1{
                    // position: absolute;
                    // left: -14%;
                    // top: 37%;
                    // z-index: 0;
                    // width:100%;
                    position: absolute;
                    left: -14%;
                    top: 55%;
                    z-index: 0;
                    width: 100%;
                    @media(max-width: $medium-screen + 'px'){
                        position: absolute;
                        left: -15%;
                        top: 52%;
                        z-index: 0;
                        width: 100%;
                    }
                    @media(max-width: $ipad + 'px'){
                        left: -20%;
                    }
                    @media(max-width: $mobile + 'px'){
                        top: 33%;
                        width: 120%;
                        left: -11%;
                    }
                    @media(max-width: $mobile + 'px') and (min-height: 700px){
                        top:38%;
                    }
                    @media(max-width: $sm-mobile + 'px'){
                        left: -50%;
                        top: 180px;
                        width: 200%;
                    }
                    @media(max-width: $sm-mobile + 'px') and (min-height: 700px){
                        top:300px;
                    }
                    @media(max-width: 411px){
                        top:220px;
                    }
                    img{
                        max-width:100%;
                    }
                    .fog-light{
                        // position: absolute;
                        // bottom: 20%;
                        // left: 0%;
                        // width:100%;
                        position: absolute;
                        bottom: 50%;
                        left: 12%;
                        width: 80%;
                        @media(max-width: $sm-mobile + 'px'){
                            bottom: 30%;
                            left: 15%;
                            width: 70%;
                        }
                    }
                    &:after{
                        content: '';
                        display: block;
                        width: 100%;
                        // background-image: url('../images/home-page/background-shadow.png');
                        background-position: bottom;
                        background-size: 100% 100%;
                        height: 180px;
                        position: absolute;
                        z-index: 2;
                        bottom: -20px;
                        left: 14%;
                        @media(max-width: 1200px){
                            left:15%;
                            bottom:-50px;
                        }
                        @media(max-width: $ipad + 'px'){
                            left:20%;
                            bottom:-100px;
                        }
                        @media(max-width: $mobile + 'px'){
                            height:140px;
                        }
                    }
                }
                .stage-2{
                    position: absolute;
                    left: -7%;
                    top: -13%;
                    z-index: 0;
                    width: 86%;
                    @media(max-width: $medium-screen + 'px'){
                        left: -14%;
                        top: -8%;
                        width: 100%;
                    }
                    @media(max-width: $ipad + 'px'){
                        width: 100%;
                        top: 0%;
                        left: -17%;
                    }
                    @media(max-width: $mobile + 'px'){
                        left: 0px;
                        top: 0px;
                    }
                    @media(max-width: $sm-mobile + 'px'){
                        width: 160%;
                        left: -23%;
                        top: -10px;
                        // width: 160%;
                        // left: -22%;
                        // top: -70px;
                    }
                    @media(min-height:780px){
                        top:4%;
                    }
                    @media(max-width: 411px){
                        top:-70px;
                    }
                    
                    img{
                        max-width:100%;
                    }
                    .fog-light{
                        position: absolute;
                        top: 20%;
                        left: 15%;
                        width:70%;
                    }
                }
                .boombox-stereo-animated{
                    position:relative;
                    z-index:1;
                    margin: 0px auto;
                    // max-width:560px;
                    .stereo{
                        width:100%;
                    }
                    .left-compact-disc{
                        position: absolute;
                        left: 0px;
                        bottom: 4px;
                        width: 40%;
                        -webkit-animation: disc-left-rotate 3s ease-in-out infinite;
                        animation: disc-left-rotate 3s ease-in-out infinite;
                    }
                    .right-compact-disc{
                        position: absolute;
                        right: 0px;
                        bottom: 4px;
                        width: 40%;
                        transform:scaleX(-1);
                        -webkit-animation: disc-left-rotate 2s ease-in-out infinite;
                        animation: disc-left-rotate 2s ease-in-out infinite;
                    }
                }


                // Video Box 
                .video-box{
                    position: relative;
                    z-index: 2;
                    @media(max-width: $mobile + 'px') and (min-height: 750px){
                        // top:-40px;
                    }
                    @media(max-width: $sm-mobile + 'px') and (min-height: 750px){
                        // top:-40px;
                    }
                    .animated-logo{
                        // position: absolute;
                        // z-index: 2;
                        // left: 26%;
                        // top: -26px;
                        // width: 19vw;
                        position: absolute;
                        z-index: 2;
                        left: 23%;
                        top: -79px;
                        width: 16.5vw;
                        @media(max-width: 1150px){
                            top:-65px;
                        }
                        @media(max-width: $ipad + 'px'){
                            // left: 30%;
                            // width: 20vw;
                            left: 38%;
                            width: 16vw;
                            top: -50px;
                        }
                        @media(max-width: $mobile + px){
                            display: none;
                            // left: 35%;
                            // width: 27vw;
                            // top: 40px;
                            // left: 35%;
                            // width: 26vw;
                            // top: 12%;
                            width: 24vw;
                            top: 14%;
                            left: 37%;
                        }
                        
                        @media(max-width: $sm-mobile + 'px'){
                            // left: 30%;
                            // width: 35vw;
                            // top: 50px;
                            left: 33%;
                            width: 33vw;
                            // top: 35px;
                            top:6%;
                        }
                        @media(max-width:450px){
                            top:4%;
                        }
                        @media(max-width: $xs-mobile + 'px'){
                            
                            top:3%;
                        }
                    }
                    .boombox-image{
                        // width: 50vw;
                        // max-width: none;
                        // position: absolute;
                        // left: -4vw;
                        // top: -6.5vw;
                        width: 70vw;
                        max-width: none;
                        position: absolute;
                        left: -18vw;
                        top: -17vw;
                        @media(max-width: $ipad + 'px'){
                            // width: 57vw;
                            // top: -9vw;
                            // left: -3vw;
                            width: 70vw;
                            top: -16vw;
                            left: -10vw;
                        }
                        @media(max-width: $mobile + 'px'){
                            position:relative;
                            top:auto;
                            left:auto;
                            width:100%;
                            max-width:500px;
                            margin:0px auto;
                        }
                        @media(max-width: $sm-mobile + 'px'){
                            
                        }
                    }
                    .video-block{
                        // position: absolute;
                        // top: 8.5vw;
                        // left: 21px;
                        // width: 37vw;
                        position: absolute;
                        top: 3vw;
                        left: -4px;
                        width: 35vw;
                        @media(min-width: 1500px){
                            // left:30px;
                        }
                        @media(min-width: 2200px){
                            left:10px;
                        }
                        @media(max-width: $ipad + 'px'){
                            // width: 42vw;
                            // left: 3vw;
                            // top: 8vw;
                            width: 36vw;
                            left: 7vw;
                            top: 3.5vw;
                        }
                        @media(max-width: $mobile + 'px'){
                            width: 100%;
                            left: -14px;
                            bottom: 11%;
                            top: auto;
                            max-width: 370px;
                            margin: 0px auto;
                            right: 0px;
                        }
                        @media(max-width: $sm-mobile + 'px'){
                            left: -16px;
                            max-width: none;
                            width: 74%;
                            max-width: 370px;
                        }
                        video{
                            width: 100%;
                            @media(max-width: $mobile + 'px'){
                                display:none;
                            }
                        }
                        img{
                            display:none;
                            @media(max-width: $mobile + 'px'){
                                display:block;
                            }
                        }
                    }
                }
            }
            .text-block{
                width:54%;
                position: relative;
                z-index: 1;
                padding:10px;
                z-index: 10;
                left: -50px;
                &.second-text{
                    left: 20px;
                    @media(max-width: $mobile + 'px'){
                        left: 0px;
                    }
                    @media(max-width: $sm-mobile + 'px'){
                        left: 0px;
                    }
                    @media(max-width: $medium-screen + 'px'){
                        left: 0px;
                    }
                }
                @media(max-width: $ipad + 'px'){
                    width:50%;
                    left: 0;
                }
                @media(max-width: $mobile + 'px'){
                    width: 100%;
                    padding-top:0px;
                    // margin-top: -50px;
                    left: 0px;
                }
                @media(max-width: $sm-mobile + 'px'){
                    width:100%;
                    padding-top:0px;
                    margin-top: -90px;
                    left: 0px;
                }
                
                .text-content{
                    text-align:center;
                    h5{
                        text-transform: uppercase;
                    }
                    h3{
                        text-transform: uppercase;
                        margin-bottom:20px;
                    }
                    p{
                        max-width:78%;
                        margin:0px auto 30px auto;
                        @media(max-width: $sm-mobile + 'px'){
                            max-width: 85%;
                        }
                    }
                    a{
                        font-size: $body-font-size;
                        margin-top:10px;
                        display:inline-block;
                    }
                }
            }
            &.mentors-slide{
                display: block;
                position: relative;
                height: 960px;
                padding: 0;
                .image-block{
                    // min-height: 329px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    z-index: -1;
                    img {
                      width: 100%;
                    }
                    @media(max-width: $mobile + 'px'){
                        // margin:7% auto 0px auto;
                        margin:0px auto;
                        width:100%;
                        top: 0;
                        img {
                          width: 100% !important;
                          top: -170px !important;
                          left: 0 !important;
                        }
                    }
                    @media(max-width: $sm-mobile + 'px'){
                        width: 100%;
                        img {
                          top: -20px !important;
                        }
                    }
                }
                .text-block{
                    position: absolute;
                    top: 15%;
                    left: 50%;
                    transform: translateX(-50%);
                    @media(max-width: $mobile + 'px'){
                        top: 60%;
                    }
                    @media(max-width: $sm-mobile + 'px'){
                        top: 60%;
                        padding-top:0px;
                        margin-top: -30px;
                    }
                }
                @media(max-width: $medium-screen + 'px'){
                  height: 750px;
                }
                @media(max-width: $mobile + 'px'){
                  height: 900px;
                }
                @media(max-width: $sm-mobile + 'px'){
                  height: 670px;
                  margin-top: 40px;
                }
            }
        }
    }
    .slick-list.draggable{
        padding:0px !important;
    }

    .slick-prev{
        &.slick-arrow{
            left:50px;
            z-index: 2;
            @media(max-width: $medium-screen + 'px'){
                left:30px;

                top:50%;
                transform: none;

            }
            @media(max-width: $sm-mobile + 'px'){
                left: 15px;
                width: 70%;
                max-width: 370px;
                top:35%;
                transform: none;
            }


        }
        &:before{
            content: '';
            background-image: url(../images/global/arrow_left@2x.png);
            height: 24px;
            display: block;
            background-repeat: no-repeat;
            background-size: auto 100%;
        }
    }

    .slick-next{
        &:before{
            content: '';
            background-image: url(../images/global/arrow_left@2x.png);
            height: 24px;
            display: block;
            background-repeat: no-repeat;
            background-size: auto 100%;
            transform:scaleX(-1);
        }
        &.slick-arrow{
            right:50px;
            z-index: 2;
            @media(max-width: $medium-screen + 'px'){
                right:30px;

                
                top:50%;
                transform: none;

            }
            @media(max-width: $sm-mobile + 'px'){
                right: 15px;
                top:35%;
                transform: none;
            }
        }
    }

    .slick-dots{
        bottom:10%;
        @media(max-width: $mobile + 'px'){
            position: relative;
            bottom: 0px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        li{
            border:2px solid #ffffff;
            border-radius: 100%;
            width:10px;
            height:10px;
            margin:0px 8px;
        }
        .slick-active{
            background-color:#ffffff;
        }
        
    }

}


@media (min-width:769px) and (max-width:1024px) {
    .home-slider .home-slider-item .item-content-block .image-block .stage-2{
        top:0px;
    }
    .home-slider .home-slider-item .item-content-block .text-block .text-content p{
        max-width:80%;
        margin:0px auto 30px auto;
    }
    
}


@media(min-height:1000px){
    footer{
        position:fixed;
        bottom:0px;
    }
}

.site-maintenance{
    display: none;

    @media all and (-ms-high-contrast:none) {
        display: none;
        position: fixed;
        top:0; left: 0;
        right:0; bottom: 0;
        z-index: 999999;

        background: #130a1e;

        img {
            width: 50%;
            height: auto;

            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}




.boombox-image-mobile{
    @media(max-width: $mobile + 'px'){
        margin: auto;
        width: 50%;
        max-width: none;
        left: 0%;
        position: relative;
    }
    @media(max-width: $sm-mobile + 'px'){
        max-width: none;
        width: 100%;
        left: 0;
        position: relative;
        top: 0;
        margin-top: 0px;
    }
}

.mentors-mobile{
    @media(max-width: $mobile + 'px'){
        width: 140% !important;
        left: 20px !important;
        top: 60px !important;
        position: relative !important;
    }
    @media(max-width: $sm-mobile + 'px'){
        width: 140% !important;
        left: 20px !important;
        top: 0px !important;
        position: relative !important;
    }
}



.home-slider .slick-slide{
    .image-block{
        @media(max-width: $mobile + 'px'){
            opacity:0;
        }
    }
    &.slick-current.slick-active{
        .image-block{
            @media(max-width: $mobile + 'px'){
                opacity:1;
            }
        }
    }
}