@media all and (-ms-high-contrast:none){
    .open-call-page #navigation-section:after{
        // display:none;
    }
    ::-ms-backdrop, .open-call-page #navigation-section:after {
        // display:none;
    } 
    
    .events-container{
        margin-top:200px;
    }
    ::-ms-backdrop, .events-container {
        margin-top:200px;
    } 

}

@supports (-ms-ime-align:auto) {
    .events-container{
        margin-top:200px;
    }
}