.mentors-spotlight{
  position: fixed;
  width: 100%;
  margin:0px auto;
  text-align: center;
  z-index: 1;
  left: 0;
  transform: rotate(0deg);
  top: -80px;
  left: -1%;
  transform-origin: 50% 0%;
  transition:all ease-out .3s;
  -webkit-transition:all ease-out .3s;
  -webkit-animation: mentor-spotLight-infinite 8s ease-in-out infinite;
  animation: mentor-spotLight-infinite 8s ease-in-out infinite;
  img{
    width:40%;
  }
}

.mentors-overlay-background{
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  width: 100%;
  img{
    height:100%;
    width:100%;
  }
}

.mentor-landing-background {
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  width:100%;
  height:100%;
  @media(max-width: $sm-mobile + 'px'){
    width:280%;
  }
  img{
    height:100%;
    width:100%;
  }
}

.mentor-landing-background-left {
  position: fixed;
  left: 0px;
  height: 100%;
  top: 0px;
  bottom: 0px;
  z-index: 2;
}

.mentor-landing-background-right {
  position: fixed;
  right: 0px;
  height: 100%;
  top: 0px;
  bottom: 0px;
  z-index: 0;
}

.mentor-landing-title {
  text-align: center;
  position: absolute;
  top: 8%;
  left: 0px;
  right: 0px;
  z-index: 1;
  @media(max-width: $ipad + 'px'){
    top: 16%;
  }
  @media(max-width: $mobile + 'px') {
    position: relative;
    // margin-top: 100px;
  }

  p {
    max-width: 700px;
    margin: 18px auto 0px auto;
    // line-height: $body-line-height - 6;
    @media(max-width: $mobile + 'px'){
      padding:0px 20px;
    }
    @media(max-width: $sm-mobile + 'px') {
      max-width: 340px;
    }
  }
}

.container-background {
  height: 1886px;
  width: 1353px;
  background: radial-gradient(circle, #1A0F2E 0%, #442C79 100%);
  background-size: contain;
  background-position: top -650px left;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

  .spotlight {

  }
}

.mentors-block{
  width:100%;
}

.mentors-landing-page {
  display: flex;
  height: 100vh;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  @media(max-width: $mobile + 'px') {
    position:relative;
    height:auto;
    padding-top:30px;
    padding-left:0px;
    padding-right:0px;

  }
  @media(min-height:750px){
    height:90vh;
  }


  .mentors-carousel {
    width:100%;
    display: none;
    position: relative;
    max-width: 1250px;
    margin: 0px auto;
    // transform: translatey(150px);
    transform: translatey(25%);
    z-index:3;
    @media(max-width: $ipad + 'px') {
      transform: translateY(160px);
    }
    @media(max-width: $mobile + 'px') {
      z-index: 2;
      transform: translateY(20px);
    }

    .slick-list {
      height: 460px;

      .slick-slide {
        position: relative;
        transition: opacity .5s;
      }
    }

    .slick-slide[aria-hidden="true"]{
      opacity: 0;
    }
    .slick-slide[data-aria-hidden="false"]{
      opacity: 1;
    }

    .slick-current,
    .slick-clone-current {
      opacity: 1;
      img {
        opacity: 1;
        // height: 321px;
        // height: 370px;
        height:340px;
        @media(max-width: $mobile + 'px') {
          height: 270px;
        }
      }

      .stage {
        background-image: url("../images/mentors/floor_motif_focus@2x.png");

        opacity: 1;
        // transform: translate(140px, 295px) scale(2.4);
        // transform: translate(35%, 345px) scale(2.4);
        transform:translate(47%, 310px) scale(3);
        @media(max-width: 1150px) {
          transform:translate(42%, 300px) scale(3);
        }

        @media(max-width: 1050px) {
          transform:translate(38%, 290px) scale(3);
        }
        @media(max-width: $ipad + 'px'){
          transform: translate(35%, 270px) scale(3);
        }
        @media(max-width: $mobile + 'px') {
          // transform: translate(54%, 239px) scale(2.2);
          transform: translate(57%, 239px) scale(2);
          background-position: center left;
        }
        @media screen and (min-width:768px) and (max-width:769px) and (orientation:portrait) {
          transform: translate(5%, 239px) scale(2);
          background-position: center left;
        }

        @media(max-width: 700px) {
          transform: translate(48%, 239px) scale(2.2);
          background-position: center left;
        }
        @media(max-width: $sm-mobile + 'px') {
          transform: translate(40%, 239px) scale(2);
          background-position: center left;
        }

        

        @media(max-width: 550px) {
          transform: translate(40%, 239px) scale(2);
          background-position: center left;
        }

        @media(max-width: 501px){
          transform: translate(32%, 239px) scale(2);
        }

        @media(max-width: 480px){
          transform: translate(28%, 234px) scale(2);
        }
        @media(max-width: $xs-mobile + 'px'){
          transform: translate(15%, 239px) scale(2);
        }
      }

      .details {
        opacity: 1;
      }

    }

    .slick-next {
      transform: translate(-380px, -100px);
      z-index: 3;
      @media(max-width: 1250px){
        transform: translate(-350px, -100px);
      }
      @media(max-width: 1160px) {
        transform: translate(-320px, -100px);
      }
      @media(max-width: $ipad + 'px') {
        transform: translate(-44px, -100px);
      }
    }

    .slick-prev {
      transform: translate(380px, -100px);
      @media(max-width: 1250px){
        transform: translate(350px, -100px);
      }
      @media(max-width: 1160px) {
        transform: translate(320px, -100px);
      }
      @media(max-width: $ipad + 'px') {
        transform: translate(44px, -100px);
      }
    }

    .slick-dots {
      bottom: 15%;
      @media(max-width: $mobile + 'px') {
        margin-top: 0px;
      }
    }
  }

  .mentor-item {
    position: relative;


    img {
      display: block;
      margin: auto;
      height: 213px;
      width: auto;
      object-fit: contain;
      object-position: center;

      opacity: .6;

      position: relative;
      z-index: 1;

      transition: all 1s;
      @media(max-width: $ipad + 'px') {
        height: 190px;
        //left:-20px;
      }
    }

    .stage {
      background: transparent url("../images/mentors/floor_motif_focus@2x.png") no-repeat top left;
      background-size: contain;
      height: 54px;
      width: 461px;
      opacity: 0.6;

      position: absolute;
      top: 0;
      left: 0;
      transition: all 1s;
      // transform: translate(30px, 181px);
      transform: translate(12%, 176px) scale(1.5, 0.8);
      @media(max-width: 1150px) {
        transform: translate(2%, 175px) scale(1.5, 0.8);
      }
      @media(max-width: $ipad + 'px') {
        transform: translate(5%, 155px) scale(1.4, 0.8);
      }
      @media(max-width: $mobile + 'px') {
        transform: translate(5%, 155px) scale(0.8, 0.8);
      }

      @media screen and (min-width:768px) and (max-width:769px) and (orientation:portrait) {
        transform: translate(-80px, 155px) scale(0.8);
      }


    }

    .details {
      opacity: 0;

      position: absolute;
      // top: 40px;
      top: 23px;
      // right: 80px;
      // right:40px;
      left:34%;
      z-index: 2;
      text-align: left;
      transform: translate(80px, 80px);
      transition: opacity 500ms;
      @media(max-width: 1200px){
        left:30%;
      }
      @media(max-width: 1100px){
        left:24%;
      }
      @media(max-width: $ipad + 'px') {
        right: auto;
        transform: translate(165px, 80px);
        left: 0px;
        
      }
      @media(max-width: $mobile + 'px') {
        position: relative;
        transform: translate(0px, 40px);
        text-align:center;
      }

      .role {
        font-size: $body-font-size - 2;
        line-height: $body-line-height + 5;
      }

      .title {
        color: $primary-color;
        margin-bottom: 3px;
      }
    }
  }


  .center-stage-background {
    // height: 539px;
    // width: 642px;
    // background: transparent url("../images/mentors/img_bg_mentor_glow@2x.png") no-repeat top left;
    // background-size: contain;

    // position: absolute;
    // top: 0;
    // left: 280px;

    // height: 90%;
    // width: 80%;
    // background: transparent url('../images/mentors/img_bg_mentor_glow@2x.png') no-repeat top left;
    // background-size: contain;
    // position: fixed;
    // top: 0px;
    // left: 23%;
      height: 550px;
      background: transparent url('../images/mentors/img_bg_mentor_glow@2x.png') no-repeat top left;
      background-size: contain;
      position: fixed;
      left: 0px;
      right: 0px;
      margin: 0px auto;
      display: block;
      width: 100%;
      max-width: 550px;
      top: 26%;
    @media(max-width: $ipad + 'px') {
      left: 18%;
    }
    @media(max-width: $mobile + 'px') {
      left: 0px;
      right: 0px;
      width: 100%;
      position: absolute;
      top: 32%;
    }
    @media(max-width: $xs-mobile + 'px'){
      left: 0%;
      width: 100%;
      top: 30%;
    }

    .background-glow {
      // height: 329px;
      // width: 245px;

      // background: transparent url("../images/mentors/img_colouredlight_1@2x.png") no-repeat top left;
      // background-size: contain;

      // position: absolute;
      // top: 0;
      // left: 0;
    }
  }
  .slick-slide {
    &:before {
      // content: '';
      // background-image: url('../images/global/boombox3d@2x.png');
      width: 320px;
      height: 160px;
      background-size: 100% auto;
      display: block;
      background-position: left bottom;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0px;
      z-index: 1;
      right: -42px;
      opacity: 0;
      visibility: hidden;
      transition: all ease-in-out .5s;
      @media(max-width: 1150px) {
        right: -75px;
      }
      @media(max-width: $ipad + 'px'){
        right: -115px;
      }
      @media(max-width: $mobile + 'px') {
        // right: 25%;
        right:18%;
        bottom: 16%;
        width: 300px;
      }
      @media(max-width: 700px) {
        right: 11%;
      }
      @media(max-width: $sm-mobile + 'px') {
        right: -20px;
      }
      @media(max-width: $xs-mobile + 'px'){
        left:0px
      }
  
    }
  }
  
  .slick-active.slick-center, .slick-clone-current {
    &:before {
      content: '';
      opacity: 1;
      visibility: visible;
      transition: all ease-in-out .5s;
    }
  }
}





.mentor-detail {
  width: 100%;
  max-width: 100%;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border: none;
  border-radius: 0;
  background-color: #15091e;

  display: none;

  .close-overlay {
    width: 37px;
    height: 36px;
    color: transparent;
    background: transparent url('../images/mentors/close-btn.png') no-repeat top left;

    box-shadow: none;
    position: fixed;
    top: 50px;
    right: 50px;
    border: none;
    @media(max-width: $ipad + 'px'){
      top: 30px;
      right:30px;
    }
  }

  .mentor-container {
    // background: transparent url('../images/mentors/mentor_overlay_bkg.png') no-repeat top center;
    // background-size: contain;
    // width: 90%;
    // padding: 6% 15px;
    // margin-right: auto;
    // margin-left: auto;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // padding-top:10vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @media all and (-ms-high-contrast:none) {
      display: block;
    }
    @media(max-width: $ipad + 'px'){
      // padding-top:15vw;
    }
    @media(max-width: $mobile + 'px'){
      // padding-top:20vw;
      height:auto;
    }
    .container{
      @media(max-width: $ipad + 'px'){
        max-width: none;
        padding: 0px 20px;
      }
    }
  }

  .mentor-slide {

    @media all and (-ms-high-contrast:none) {
      transform: translateY(50%);
    }

    .container{

      // position: absolute;
      // top: 300%;
      // transform: translate(-50%, -50%);
      // left: 50%;
      // margin: 0px auto;
      // height: 60vh;
      // display: flex;
      // align-items: center;

      @media(max-width: $ipad + 'px'){
        max-width: none;
        padding: 0px 20px;

        position: static;
        top: 0;
        transform: none;
        left: 0;
      }
      @media(max-width: $sm-mobile + 'px'){
        max-width: none;
        padding: 0px 20px;

        position: static;
        top: 0;
        transform: none;
        left: 0;
      }
    }
    .avatar {
      position: relative;
      img {
        // position: relative;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        // object-fit: contain;
      }

      

      img.figure {
        width: 160%;
        margin: 0px auto;
        position: absolute;
        max-width: none;
        left: -20%;
        // width: 75%;
        // height: 75%;
        // object-fit: contain;
        // object-position: center;
        // position: absolute;
        // top: 50%;
        // left: 45%;
        // transform: translate(-50%, -50%);
        @media(max-width: $mobile + 'px'){
          position: relative;
          left: auto;
          right: auto;
          transform: none;
          width: 100%;
          height: auto;
          top: auto;
          margin: 0px auto;
        }
      }

    }

    .details {
      // max-width: 420px;
      // max-height: 400px;
      // overflow-y: scroll;
      // margin: 70px 0 0 0;
      max-height: 400px;
      max-width: none;
      overflow-y: auto;
      padding-right: 20px;
      margin: 0px 30px;
      @media(max-width: $mobile + 'px'){
        overflow-y: visible;
        margin: 30px 0px 0px 0px;
        max-height: none;
        padding: 0px 0px 50px 0px;
      }

      scrollbar-face-color:$primary-color;
      scrollbar-arrow-color:transparent;
      scrollbar-track-color:#555555;
      scrollbar-shadow-color:#05B7FF;
      scrollbar-highlight-color:#05B7FF;
      scrollbar-3dlight-color:#808080;
      scrollbar-darkshadow-Color:#202020;

      &::-webkit-scrollbar-track{
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        width:40px;
        background-color:#555555;
      }

      &::-webkit-scrollbar{
        width: 6px;          
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
      }
      
      h5{
        font-size: $h4-font-size - 2;
        line-height: $h5-line-height + 5;
        margin-bottom:30px;
      }

      h1.title, h5{
        @media(max-width: $mobile + 'px'){
          text-align: center;
          max-width: 350px;
          margin: 0px auto;
        }
      }

      
      .description {
      }

      .role {
        font-size: $body-font-size - 2;
        line-height: $body-line-height - 2;
        margin-bottom: 10px;
      }

      .title {
        //color: $primary-color;
        margin-bottom: 3px;
      }
    }
  }
}


@media(max-height: 600px){
  .mentors-landing-page{
    position:relative;
    .mentors-carousel{
      transform: translateY(20px);
    }
  }
  .mentor-landing-title{
    position:relative;
    top:0px;
  }
  
}

@media(max-width: $mobile + 'px'){
  .mentors-landing-page{
    position:relative;
    .mentors-carousel{
      transform: translateY(20px);
    }
  }
  .mentor-landing-title{
    position:relative;
    top:0px;
  }
}

.about-mentor .details ul{
  padding-left:15px;
  li{
    margin-bottom:15px;
  }
}

.slick-slide, .slick-clone{
  .mentor-item{
    .mentor-only{
      display:block;
      opacity: 1;

    }
    .mentor-boombox{
      opacity: 0;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      transition: all 1s ease-out;
    }
  }

  &.slick-current.slick-active, .slick-clone-current.slick-active{
    .mentor-item{
      .mentor-only{

        display: block;
        opacity: 0;
        visibility: hidden;
      }
      .mentor-boombox{
        opacity: 1;
      }
    }
  }

}
