body.opencall-background{
    // background-image: url('../images/open-call/opencall-background-pattern.png'), url('../images/open-call/opencall-background.jpg');
    // background-position: bottom, top;
    // background-size: 100% auto;
    // background-repeat: no-repeat;
    background:#0b116a;
    &.background-toggle{
        background-image: none;
    }
    @media(max-width: $ipad + 'px'){
        background-image: url('../images/open-call/opencall-background.jpg');
        background-position: top;
        background-size:cover;
        background-repeat: no-repeat;
    }
 
}

.play-video-btn{
  cursor:pointer;
}
 
.open-call-background{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 0;
    bottom: 0px;
    height: 100%;
    
    img{
        width: 100%;
        height: 100%;
    }
}
.open-call-page{
    padding-bottom:40px;
    position:relative;
    z-index:2;
    overflow: hidden;
    @media(max-width: $mobile + 'px'){
        padding-bottom:90px;
    }
    .row{
        width:100%;
    }
    #section-1{
        position:relative;
        @media(max-width: $mobile + 'px'){
            // padding-top:40px;
            min-height:850px;
        }
        @media(max-width: $sm-mobile + 'px'){
            // padding-top: 40px;
            padding-bottom: 80px;
        }
        .stage-shade{
            position:absolute;
            left:0px;
            min-width:100%;
            top:0px;
            z-index:-1;
            filter:blur(10px);
            @media(max-width: $mobile + 'px'){
                display:none;
            }
            img{
                width:100%;
            }
        }
        .container{
            // height:calc(100vh - 200px);
            height:100vh;
            min-height: auto;
            .row{
                // margin-top:-100px;
                width:100%;
                @media(max-width: $mobile + 'px'){
                    margin-top:40px;
                }
            }
        }
        .back-stage{
            position: absolute;
            left: -320px;
            top: 150px;
            width: 230%;
            max-width: none;
            z-index: 0;
            @media(max-width:1200px){
                top: 180px;
                width: 250%;
            }
            @media(max-width:1150px){
                top: 170px;
                width: 230%;
            }
            @media(max-width:$ipad + 'px'){
                width: 230%;
                top: 174px;
                left: -265px;
                // width:250%;
                // top:120px;
                // width: 220%;
                // left: -45%;
                // bottom: -260px;
            }
            @media(max-width:840px){
                left: -225px;
            }
            @media(max-width: $mobile + 'px'){
                // width: 230%;
                // left: -49%;
                width: 180%;
                left: -30%;
            }
            @media(max-width: $sm-mobile + 'px'){
                top: 230px;
                left: -29%;
            }
        }
 
        .video-block{
            // max-width: 458px;
            max-width: 508px;
            min-height:299px;
            display:flex;
            align-items:center;
            margin:0 auto;
            // width="458" height="299"
            position: relative;
            z-index:2;
 
            @media(max-width:1150px){
                max-width:85%;
            }
            @media(max-width: $ipad + 'px'){
                max-width:90%;
                // max-width:400px;
                // max-height:300px;
                // max-width: 340px;
                // margin: 0px auto;
            }
            @media(max-width: 900px){
                // margin-top:50px;
                // max-width:  54%;
                // max-width:80%;
            }
            @media(max-width: $mobile + 'px'){
                margin-top:50px;
                
            }
            @media(max-width: $sm-mobile + 'px'){
                margin-top: 50px;
                // max-width: 70%;
                min-height: auto;
                padding-bottom: 0px;
            }
            a{
                display:block;
                width:100%;
            }
 
           
        }
        .text-content{
            @media(max-width: $mobile + 'px'){
                margin-top: -20px;
                max-width: 100%;
                margin-bottom: 80px;
            }
        }
    }
 
    #navigation-section{    
        position: absolute;
        bottom:0px;
        left:0px;
        width:100%;
        height:70px;
        z-index:3;
        // &:after{
        //     content: '';
        //     display: block;
        //     width: 100%;
        //     height: 180px;
        //     background-image: url('../images/open-call/img_sticky_bar.png');
        //     background-repeat: repeat-x;
        //     position: absolute;
        //     top: -70px;
        //     left: 0px;
        //     z-index: 0;
        //     z-index:-1;
        //     filter: blur(20px);
           
        // }
        // &:before{
        //     // content: '';
        //     display: block;
        //     width: 100%;
        //     height: 100px;
        //     background-image: url('../images/open-call/img_sticky_bar.png');
        //     background-repeat: repeat-x;
        //     position: absolute;
        //     top: -30px;
        //     left: 0px;
        //     z-index: 0;
        //     z-index:-1;
        //     filter: blur(20px);
        // }
        ul.sticky-nav{
            display: flex;
            align-items: center;
            list-style: none;
            background-color:#0f0932;
            // background-image: url('../images/open-call/img_sticky_bar.png');
            background-repeat: repeat-x;
            background-size:auto 140%;
            margin: 0px;
            padding: 0px;
            text-align: center;
            height: 70px;
            background-position: left top;
            li{
                flex-grow:1;
                flex-basis: 0;
                a{
                    color:$white-color;
                    font-size: 12px;
                    max-width: 180px;
                    line-height: 16px;
                    @media(max-width: $ipad + 'px'){
                        //font-size:10px;
                        padding:0px 10px;
                    }
                    &:after{
                        display:none;
                    }
                    &.active{
                        color:$secondary-color;
                    }
                }
            }
 
            @media(max-width: $ipad + 'px'){
                display: block;

                -ms-overflow-style: none;
                
                overflow-y: hidden;
                overflow-x: auto;
 
                white-space: nowrap;
                line-height: 70px;
 
                scrollbar-width: none;
 
                &::-webkit-scrollbar {
                    width: 0;  /* Remove scrollbar space */
                    background: transparent;  /* Optional: just make scrollbar invisible */
                }
                /* Optional: show position indicator in red */
                &::-webkit-scrollbar-thumb {
                    //background: #FF0000;
                }
 
                li{
                    display: inline-block;
                    white-space: normal;
 
                    a{
                        //max-width: 100%;
                        line-height: normal;
                        vertical-align: middle;
                    }
                }
            }
 
        }
        &.sticky{
            position:fixed;
            top:0px;
            z-index: 2;
            &:after,&:before{
                position:fixed;
                z-index:-1;
                filter:blur(30px);
            }
            ul.sticky-nav{
                background-position:bottom left;
            }
        }
    }
 
    section{
        // min-height:700px;
        // overflow: hidden;
        position:relative;
        @media(max-width: $mobile + 'px'){
            min-height: 340px;
        }
        .container{
            display:flex;
            align-items:center;
            min-height:inherit;
            text-align:center;
            @media(max-width: 1150px){
                width:100%;
                max-width:none;
            }
           
            @media(max-width: $ipad + 'px'){
                width:100%;
                max-width:none;
            }
            @media(max-width: $mobile + 'px'){
               flex-wrap: wrap;
               align-items:flex-end;
               height:calc(100vh - 70px);
               padding-bottom:40px;
              
            }
            .row{
                align-items:center;
                width:100%;
                .text-content{
                    max-width:100%;
                    margin:0px auto;
                    @media(max-width: $mobile + 'px'){
                        margin-top:50px;
                        max-width:100%;
                        margin-bottom:50px;
                    }
                    h3{
                        line-height: $h3-line-height + 10;
                    }
                }
                .pointer{
                    font-size:$h5-font-size + 8;
                    height: 50px;
                    width: 50px;
                    line-height: 50px;
                    text-align: center;
                    border-radius: 100%;
                    background-color: $primary-color;
                    color: $body-color;
                    font-weight: bold;
                    margin-right:30px;
                }
                .text-content-2{
                    text-align:left;
                    max-width:85%;
                    @media(max-width: $mobile + 'px'){
                        max-width: 100%;
                    }
                }
                .text-content-3{
                    text-align:left;
                    max-width:100%;
                }
            }
        }
        &#section-2{
            // background-image:url('../images/open-call/background-section-2.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            position:relative;
            display:flex;
            align-items:center;
            height:calc(100vh - 70px);
            @media(max-width: $mobile + 'px'){
                // height:auto;
                // min-height:auto;
                flex-wrap: wrap;
                align-items:flex-end;
                height: auto;
                min-height:calc(100vh - 50px);
                justify-content: flex-start;
                padding-top: 30px;
            }
            .stage-background{
                position:absolute;
                top:-70px;
                width:100%;
                left:0px;
                display: flex;
                height: 100vh;
                align-items: center;
                z-index:0;
                justify-content:flex-end;
                @media(max-width: $mobile + 'px'){
                    width: 120%;
                    height: 380px;
                    top: 10px;
                    left: 0px;
                    display: block;
                    text-align: center;
                    position: relative;
                }
                @media(max-width: $sm-mobile + 'px'){
                    height:280px;
                }
                img{
                    min-width:90%;
                    @media(max-width: $mobile + 'px'){
                        width: 130%;
                        max-width: none;
                        left: -35%;
                        position: relative;
                        top: -60px;
                    }
                    @media(max-width: $sm-mobile + 'px'){
                        width: 170%;
                        max-width: none;
                        left: -60%;
                        position: relative;
                        top: -60px;
                    }
                }
            }
            .container{
                @media(max-width: $mobile + 'px'){
                    height: auto;
                    align-items: center;
                    padding-top: 40px;
                    display: block;
                    min-height: auto;
                }
            }
            .back-stage{
                width: 100%;
                position: relative;
                left: 0px;
                top: 0px;
                @media(max-width: $ipad + 'px'){
                    width: 110%;
                    position: absolute;
                    right: -20%;
                    top: auto;
                }
                @media(max-width: $mobile + 'px'){
                    width: 120%;
                    // position: relative;
                    right: 0px;
                    top: 0px;
                    max-width: none;
                    left: -10%;
                }
                @media(max-width: $sm-mobile + 'px'){
                    width: 140%;
                    right: 0px;
                    top: 0px;
                    max-width: none;
                    left: -20%;
                }
            }
        }
 
        &#section-3{
            // background-image:url('../images/open-call/background-section-3.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            position:relative;
            display:flex;
            align-items:center;
            height:calc(100vh - 70px);
            // @media(max-width: $mobile + 'px'){
            //     flex-wrap: wrap;
            //     align-items:flex-end;
            //     height:calc(100vh - 50px);
            // }
            @media(max-width: $mobile + 'px'){
                // height:auto;
                // min-height:auto;
                flex-wrap: wrap;
                align-items:flex-end;
                height: auto;
                min-height:calc(100vh - 50px);
                justify-content: flex-start;
                padding-top: 30px;
            }
            .container{
                @media(max-width: $mobile + 'px'){
                    height: auto;
                    padding-top: 40px;
                    display: block;
                    min-height: auto;
                }
            }
            .stage-background{
                position:absolute;
                top:-70px;
                width:100%;
                left:0px;
                display: flex;
                height: calc(100vh + 70px);
                align-items: center;
                z-index:0;
                @media(max-width: $mobile + 'px'){
                    width: 120%;
                    height: 380px;
                    top: 10px;
                    left: 0px;
                    display: block;
                    text-align: center;
                    position: relative;
                }
                @media(max-width: $sm-mobile + 'px'){
                    height:280px;
                }
                img{
                    min-width:90%;
                    width:auto;
                    @media(max-width: $mobile + 'px'){
                        width: 130%;
                        max-width: none;
                        left: 0px;
                        position: relative;
                        top: -40px;
                    }
                    @media(max-width: $sm-mobile + 'px'){
                        width: 160%;
                        left: -10%;
                    }
                }
            }
            .stage-shade{
                position:absolute;
                left:0px;
                min-width:100%;
                top:-150px;
                z-index:-1;
                height:calc(100vh + 150px);
                filter:blur(10px);
                // @media(max-width: $mobile + 'px'){
                //     top:-70px;
                // }
                @media(max-width: $mobile + 'px'){
                    display:none;
                }
                img{
                    width:100%;
                }
            }


            .back-stage{
                width: 100%;
                position:relative;
                left: 0%;
                top: 0px;
                @media(max-width: $ipad + 'px'){
                    width: 100%;
                    position: absolute;
                    top: auto;
                    left:-10%;
                }
                @media(max-width: $mobile + 'px'){
                    // width: 120%;
                    // // position: relative;
                    // right: auto;
                    // top: 0px;
                    // max-width: none;
                    // left: 0px;
                    width: 100%;
                    right: auto;
                    top: 0px;
                    max-width: none;
                    left: 10%;
                }
                @media(max-width: $sm-mobile + 'px'){
                    width: 150%;
                    right: auto;
                    top: 0px;
                    max-width: none;
                    left: -14%;
                }
            }
           
        }
 
        &#section-4{
            // background-image:url('../images/open-call/background-section-4.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            position:relative;
            display:flex;
            align-items:center;
            height:calc(100vh - 70px);
            // @media(max-width: $mobile + 'px'){
                // height:auto;
                // min-height:auto;
                // flex-wrap: wrap;
                // align-items:flex-end;
                // height:calc(100vh - 70px);
            // }
            @media(max-width: $mobile + 'px'){
                flex-wrap: wrap;
                align-items:flex-end;
                height: auto;
                min-height:calc(100vh - 50px);
                justify-content: flex-start;
                padding-top: 30px;
            }
            .container{
                @media(max-width: $mobile + 'px'){
                    height: auto;
                    padding-top: 40px;
                    display: block;
                    min-height: auto;
                }
            }
            .stage-background{
                position:absolute;
                top:-20px;
                width:100%;
                left:0px;
                display: flex;
                height: calc(100vh + 20px);
                align-items: center;
                z-index:0;
                @media(max-width: $mobile + 'px'){
                    width: 140%;
                    height: 380px;
                    top: 10px;
                    left: 0px;
                    display: block;
                    text-align: center;
                    position: relative;
                }
                @media(max-width: $sm-mobile + 'px'){
                    height:280px;
                }
                img{
                    min-width:90%;
                    width:auto;
                    @media(max-width: $mobile + 'px'){
                        width: 140%;
                        max-width: none;
                        left: -30%;
                        position: relative;
                        top: -50px;
                    }
                    @media(max-width: $sm-mobile + 'px'){
                        width: 170%;
                        left: -57%;
                    }
                }
            }
            .stage-shade{
                position:absolute;
                left:0px;
                min-width:100%;
                top:-250px;
                z-index:-1;
                height:calc(100vh + 250px);
                filter:blur(10px);
                // @media(max-width: $mobile + 'px'){
                //     top:-70px;
                // }
                @media(max-width: $mobile + 'px'){
                    display:none;
                }
                img{
                    width:100%;
                }
            }
            .back-stage{
                width: 112%;
                max-width: none;
                position: absolute;
                top:auto;
                @media(max-width: $ipad + 'px'){
                    width: 160%;
                        position: absolute;
                        top: auto;
                        left: -10%;
                }
                @media(max-width: $mobile + 'px'){
                    // position: relative;
                    // top: 0px;
                    // left: -58%;
                    // width: 180%;
                    // margin-bottom: -160px;
                    // position: relative;
                    top: -160px;
                    left: -30%;
                    width: 150%;
                }
                @media(max-width: $sm-mobile + 'px'){
                    top: -70px;
                    left: -60%;
                    width: 190%;
                }
 
 
            }
            @media(max-width: $mobile + 'px'){
               
            }
        }
 
        &#section-5{
            // background-image:url('../images/open-call/background-section-5.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            position:relative;
            text-align:center;
            display: flex;
            align-items: center;
            height:calc(100vh - 70px);
            
            // @media(max-width: $mobile + 'px'){
                // height:auto;
                // min-height:calc(100vh - 50px);
                // flex-wrap: wrap;
                // align-items:flex-end;
                // height:calc(100vh - 70px);
                // padding-top:40px;
                // height:auto;
            // }
            @media(max-width: $mobile + 'px'){
                flex-wrap: wrap;
                align-items:flex-end;
                height: auto;
                min-height:calc(100vh - 50px);
                justify-content: flex-start;
                padding-top: 30px;
            }
            @media(max-width: $sm-mobile + 'px'){
                padding-top:80px;
            }
            .stage-shade{
                position: absolute;
                left: 0px;
                min-width: 100%;
                bottom: 250px;
                z-index: -1;
                height: calc(100vh + 250px);
                filter: blur(10px);
                @media(max-width: $ipad + 'px'){
                    bottom:350px;
                    height:100vh;
                }
                @media(max-width: $mobile + 'px'){
                    display:none;
                }
                // @media(max-width: $mobile + 'px'){
                //     top: -250px;
                // }
                // @media(max-width: $sm-mobile + 'px'){
                //     top:-150px;
                // }
                img{
                    width:100%;
                }
            }
            .taking-part-steps{
                list-style:none;
                display:flex;
                margin:20px auto 40px auto;
                padding:0px;
                align-items:flex-start;
                position: relative;
                z-index: 1;
                @media(max-width: $mobile + 'px'){
                    margin:20px auto;
                }
                @media(max-width: $mobile + 'px'){
                    flex-wrap: wrap;
                    margin-bottom:0px;
                }
                li{
                    flex-grow:1;
                    flex-basis: 0;
                    position: relative;
                    text-align:center;
                    @media(max-width: $mobile + 'px'){
                        width: 100%;
                        flex-basis: auto;
                        margin-bottom: 40px;
                    }
                    img{
                        max-width:250px;
                    }
                    h5{
                        max-width:70%;
                        margin:30px auto 0px auto;
                        line-height:25px;
                        font-family: 'Din-2014',sans-serif;
                        font-weight: normal;
                        @media(max-width: $ipad + 'px'){
                            max-width: 90%;
                            margin:10px auto 0px auto;
                        }
                        @media(max-width: $mobile + 'px'){
                            margin-top:0px;
                        }
                        a{
                            font-size: $h5-font-size;
                            @media(max-width: $ipad + 'px'){
                                font-size: 20px;
                            }
                            @media(max-width: $mobile + 'px'){
                                font-size: 18px;
                            }
                        }
                    }
                    &:after{
                        content:'';
                        width:20px;
                        height:39px;
                        background-image:url('../images/open-call/pink-arrow.png');
                        background-repeat: no-repeat;
                        display:block;
                        position: absolute;
                        right:-10px;
                        top:100px;
                        @media(max-width: $mobile + 'px'){
                            right: auto;
                            left: 50%;
                            transform: rotate(90deg);
                            // top: 350px;
                            top:40px;
                            position:relative;
                            right:auto;
                        }
                    }
                    &:last-child{
                        &:after{
                            display:none;
                        }
                    }
                }
               
 
            }
            .terms-policies{
                position: relative;
                z-index:1;
                @media(max-width: $mobile + 'px'){
                    margin-bottom:40px;
                }
                p{
                    margin-bottom:0px;
                    
                }
            }
        }
 
        &#section-6{
            // background-image:url('../images/open-call/background-section-6.jpg');
            background-repeat: no-repeat;
            background-size:cover;
            position:relative;
            align-items:center;
            z-index: 0;
            height:calc(100vh - 70px);
            display:flex;
            // @media(max-width: $mobile + 'px'){
            //     align-items:flex-start;
            //     height:auto;
            // }
            @media(max-width: $mobile + 'px'){
                flex-wrap: wrap;
                align-items:flex-end;
                height: auto;
                min-height:calc(100vh - 50px);
                justify-content: flex-start;
                padding-top: 30px;
            }
            .stage-shade{
                position: absolute;
                left: 0px;
                min-width: 100%;
                top:-240px;
                z-index: -1;
                // @media(max-width: $mobile + 'px'){
                //     top:-120px;
                // }
                // @media(max-width: $sm-mobile + 'px'){
                //     display:none;
                // }
                @media(max-width: $mobile + 'px'){
                    display:none;
                }
                img{
                    width:100%;
                }
            }
            .form-header{
                margin-bottom:15px;
            }
            form{
                input[type="text"],input[type="email"],input[type="number"]{
                    background-color: $body-color;
                    border-radius: 0px;
                    color: $white-color;
                    font-weight: normal;
                    font-size: $body-font-size;
                    height:40px;
                    outline:none;
                }
                label{
                    // text-transform: capitalize;
                    text-transform:normal;
                }
            }
            .checkboxes{
                margin-top:20px;
                .styled-checkbox-3 {
                   display:inline-block
                }
                .styled-checkbox {
                    position: absolute; // take it out of document flow
                    opacity: 0; // hide it
 
                    & + label {
                    position: relative;
                    cursor: pointer;
                    padding: 0;
                    align-items: flex-start;
                    }
 
                    @media(max-width: $mobile + 'px'){
                        & + label {
                          display:inline-block;
                        }
                    }
 
               
                    // Box.
                    & + label:before {
                    content: '';
                    margin-right: 10px;
                    display: inline-block;
                    vertical-align: text-top;
                    width: 20px;
                    height: 20px;
                    background: white;
                    margin-top:3px;
                    padding:10px;
                    }
               
                    // Box hover
                    &:hover + label:before {
                    background: $primary-color;
                    }
                   
                    // Box focus
                    &:focus + label:before {
                    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                    }
               
                    // Box checked
                    &:checked + label:before {
                    background: $primary-color;
                    }
                   
                    // Disabled state label.
                    &:disabled + label {
                    color: #b8b8b8;
                    cursor: auto;
                   
                    }
               
                    // Disabled box.
                    &:disabled + label:before {
                    box-shadow: none;
                    background: $body-color;
                    }
               
                    // Checkmark. Could be replaced with an image
                    &:checked + label:after {
                    content: '';
                    position: absolute;
                    left: 5px;
                    top: 13px;
                    background: $body-color;
                    width: 2px;
                    height: 2px;
                    box-shadow:
                        2px 0 0 $body-color,
                        4px 0 0 $body-color,
                        4px -2px 0 $body-color,
                        4px -4px 0 $body-color,
                        4px -6px 0 $body-color,
                        4px -8px 0 $body-color;
                    transform: rotate(45deg);
                    }
                }
               
                
                .centered {
                    width: 300px;
                    margin: auto;
                }
               
                .title {
                    text-align: center;
                    color: rgb(69, 113, 236);
                }
            }
            .form-buttons{
                display:flex;
                align-items:center;
                justify-content: center;
                a{
                    margin:20px 30px;
                }
 
            }
        }
 
    }
 
    #sign-up{
        label{
            display: inline;
        }
        .expanding-btn:not(:first-child){
            margin-left: 40px;
        }
        .invalid{
            .invalid-feedback{
                display: inline;
            }
        }
        .form-group.checkboxes:nth-child(3){
            display: none;
        }
    }
 
    .result-msg{
      display: none;
    }
    footer.relative{
        bottom:-40px;
        @media(max-width: $mobile + 'px'){
            bottom: -90px;
        }
    }
 
}

       
.video-modal{
    background-color: rgba(0,0,0,0.8);
    align-items:center;
    justify-content:center;
    height:100vh;
    .modal-content{
        background-color:transparent;
        .modal-body{
            display:flex;
            align-items:center;
            height:80vh;
            justify-content:center;
            @media(max-width: $ipad + 'px'){
                height:95vh;
            }
            .close-video-btn{
                position: absolute;
                top: 25px;
                right: 30px;
                z-index: 9;
                opacity: 1;
                background-color:transparent;
                border:0px;
                outline:none;
                img{
                    width: 37px;
                    height: 36px;
                }
                @media(max-width: $ipad + 'px'){
                    right:20px;
                }
            }
            .video-section{
                width: 90%;
                max-width: 900px;
                iframe{
                    width:100%;
                   
                }
            }
        }
    }
}
 
.modal-dialog{
    max-width:none;
}
 
.popup-link{
    &:after{
        display:none;
    }
}


.text-content-2, .text-content-3, .text-content-4, .text-content-5{
    @media(max-width: $mobile + 'px'){
        .pull-left{
            display:block;
            text-align:center;
            width:100%;
            float:none;
            .pointer{
                margin:0px auto 20px auto !important;
            }
        }
        .media{
            text-align:center;
        }
    }
}

.open-call-mobile{
    @media(max-width: $mobile + 'px'){
        width: 160%;
        max-width: none;
        left: -30%;
        position: relative;
    }
    
}