.timeline-times-background{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  width:100%;
  height:100%;
  z-index:-1;
  display:none;
  &.active{
    display:block;
  }
  img{
    width:100%;
    height:100%;
  }
}
 
.timeline-tunes-background{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  width:100%;
  height:100%;
  z-index:-1;
  display:none;
  &.active{
    display:block;
  }
  img{
    width:100%;
    height:100%;
  }
}
 
.tunes-overlay-background, .times-overlay-background{
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  width: 100%;
  img{
    height:100%;
    width:100%;
  }
}
 
.timeline-page{
  // padding:80px 0px 0px 0px ;
  padding:0px;
  position: absolute;
  top:0px;
  height:100vh;
  display:flex;
  align-items: center;
  width:100%;
  flex-wrap: wrap;
  @media(max-width: $mobile + 'px'){
    position: relative;
    height:auto;
  }
  .timeline-page-content{
    display:block;
    width:100%;
    @media(max-width: $mobile + 'px'){
      margin-top:20px;
    }
    .timeline-title{
      width:100%;
      padding:0px 20px;
      max-width:48%;
      margin:0px auto;
      text-align:center;
      @media(max-width: $mobile + 'px'){
        max-width: 90%;
      }
     
      h5{
 
      }
      h3{
        margin-bottom:20px;
      }
      p{
 
      }
    }
 
    .timeline-toggler{
      display: flex;
      align-items: center;
      justify-content: center;
      width:100%;
      .toggler-content{
        display: inline-flex;
        align-items: center;
        border: 1px solid #eeeeee;
        padding: 0px 10px;
        border-radius: 100px;
        height:36px;
        .times-title{
          text-transform: uppercase;
          margin: 0px 10px;
          font-size: $body-font-size - 2;
          width: 42px;
          text-align: center;
          opacity: .5;
 
          &.active{
            opacity: 1;
          }
        }
        .toggler-button{
          .switch{
            input[type="checkbox"]{
 
            }
            .slider{
              &.round{
 
              }
            }
          }
        }
 
        .tunes-title{
          text-transform: uppercase;
          margin: 0px 10px;
          font-size: $body-font-size - 2;
          width: 42px;
          text-align: center;
          opacity:0.5;
          &.active{
            opacity:1;
          }
        }
 
      }
    }
 
 
    .times-carousel{
      margin-top:40px;
      display:none;
      margin-bottom: 0px;
      // height:310px;
      // overflow:hidden;
      &.active{
        display:block;
      }
      .slick-list{
        height:250px !important;
        padding:0px 50px 20px 0px !important;
 
        @media(max-width: $mobile + 'px'){
          padding:0px !important;
          height:auto !important;
        }
        .slick-slide{
          .times-item{
            .times-content{
              display:flex;
              align-items:center;
              width: 70vw;
              position:relative;
              justify-content: flex-end;
              //opacity:0.2;¿transition:all ease-in-out .4s;
              //-webkit-transition:all ease-in-out .4s;
              @media(max-width: 1200px){
                width:74vw;
              }
              @media(max-width: 1100px){
                width:78vw;
              }
              @media(max-width: $ipad + 'px'){
                // flex-wrap: wrap;
                width:80vw;
              }
              @media(max-width: $mobile + 'px'){
                flex-wrap: wrap;
                width:60vw;
              }
              
              
              &:after{
                content:'';
                margin-left:4%;
                margin-right:4%;
                width:74px;

                background-image:url('../images/timeline/times/icon_connector@2x.png');
                background-repeat: no-repeat;
                background-size:100%;
                background-position: left;
                height:30px;
                position: relative;
                left:0px;
                opacity:0;
                visibility: hidden;
                @media(max-width: $ipad + 'px'){
               
                }
                @media(max-width: $mobile + 'px'){
                  display:none;
                }
              }
 
              &:before{
                content:'';
                margin-left:4%;
                margin-right:4%;
                width:74px;

                background-image:url('../images/timeline/times/icon_connector@2x.png');
                background-repeat: no-repeat;
                background-size:100%;
                background-position: left;
                height: 80px;
                position: relative;
                left: 0px;
                opacity:0;
                visibility: hidden;
                // background-size: 100% 100%;
                @media(max-width: $ipad + 'px'){
                 
                  
                }
                @media(max-width: $mobile + 'px'){
                  display:none;
                }
              }
             
              .times-image{
                width:35%;
                padding: 0px 10px;
                @media(max-width: $mobile + 'px'){
                  width:100%;
                }
                img{
                  max-height:270px;
                  // width:100%;
                  @media(max-width: 1100px){
                    max-height:250px;
                  }
                  @media(max-width: $ipad + 'px'){
                    max-height: 220px;
                  }
                  @media(max-width: $mobile + 'px'){
                    max-height:270px;
                    margin:0px auto;
                  }
                  @media(max-width: $mobile + 'px'){
                    max-height:200px;
                  }
                }
              }
 
              .times-details{
                width:40%;
                // min-width:369px;
                // padding: 0px 40px;
                @media(max-width: $ipad + 'px'){
                 
                  // text-align:center;
                  // padding-top:30px;
                  // padding-bottom:40px;
                }
                @media(max-width: $mobile + 'px'){
                  min-width: auto;
                  padding-left:10%;
                  padding-right:10%;
                  padding-top:40px;
                  width:100%;
                  text-align:center;
                }
                .title{
                  @media(max-width: $ipad + 'px'){
                    font-size: $h1-font-size - 5;
                    line-height: $h1-line-height - 4;
                  }
                 
                }
               
                .description-block{
                 
                  h5{
                    line-height: $h5-line-height + 6;
                    @media(max-width: $ipad + 'px'){
                      font-size:$h5-font-size - 4;
                      // max-width: 70%;
                      // margin: 0px auto;
                    }
                  }
                  a{
                    font-size: $anchor-font-size - 2;
                  }
                }
              }
            }
          }
          &.slick-active.slick-current.slick-center,
          &.slick-slide.slick-clone-current{
            .times-item{
              .times-content{
                opacity:1;
                //transition:all ease-in-out .4s;
                //-webkit-transition:all ease-in-out .4s;
                &:before{
                  opacity:0.2;
                  visibility: visible;
                  display: block;

                  @media(max-width: 1100px){
                    margin-left:3%;
                    margin-right:3%;
                  }
                  @media(max-width: $mobile + 'px'){
                    position: absolute;
                    top: 94px;
                    width: 60px;
                    left: -10%;
                    height: 20px;
                    margin:0px;
                  }
                  @media(max-width: $sm-mobile + 'px'){
                    width:40px;
                    top:90px;
                  }
                }
                &:after{
                  opacity:1;
                  visibility: visible;
                  display: block;

                  @media(max-width: 1100px){
                    margin-left:3%;
                    margin-right:3%;
                  }
                  @media(max-width: $mobile + 'px'){
                    position: absolute;
                    top: 94px;
                    width: 60px;
                    right: 50px;
                    height: 20px;
                    left:auto;
                    margin:0px;
                    right:-10%;
                  }
                  @media(max-width: $sm-mobile + 'px'){
                    width:40px;
                    top:90px;
                  }
                }
              }
            }
          }
         
        }
      }
      .slick-next{
        right:50px;
        @media(max-width: $ipad + 'px'){
          right:10px;
        }
      }
      .slick-prev{
        left:50px;
        @media(max-width: $ipad + 'px'){
          left:10px;
        }
      }
      .slick-arrow{
        top:46.5%;
        @media(max-width: $ipad + 'px'){
          top:134px;
        }
        @media(max-width: $ipad + 'px'){
          top:100px;
        }
        @media(max-width: $sm-mobile + 'px'){
          top:100px;
        }
      }
      .slick-dots{
        // bottom:-25px;
        bottom: 0px;
        z-index: 3;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        z-index: 3;
        @media(max-width: $mobile + 'px'){
          position: relative;
          bottom: 0px;
          margin-top: 50px;
          margin-bottom: 50px;
        }
      }
    }
 
    //.times-carousel .slick-list .slick-slide.slick-center.slick-current + .slick-slide .times-content{
    .slick-slide:not(.slick-current) .times-content{
      justify-content:flex-start !important;
      opacity:0.2;
      transition:all linear 1s;
    }
 
    .tunes-carousel{
      margin-top:40px;
      display:none;
      margin-bottom: 0px;
      // height:310px;
      // overflow:hidden;
      &.active{
        display:block;
      }
      .slick-list{
        padding:0px 50px 20px 0px !important;
        height:250px !important;
        @media(max-width: $mobile + 'px'){
          padding:0px !important;
          height:auto !important;
        }
        .slick-slide{
          .tunes-item{
            .tunes-content{
              display:flex;
              align-items:center;
              width: 70vw;
              position:relative;
              justify-content: flex-end;
              opacity:0.2;
              //transition:all ease-in-out .4s;
              //-webkit-transition:all ease-in-out .4s;
              @media(max-width: 1200px){
                width:74vw;
              }
              @media(max-width: 1100px){
                width:78vw;
              }
              @media(max-width: $ipad + 'px'){
                // flex-wrap: wrap;
                width:80vw;
              }
              @media(max-width: $mobile + 'px'){
                flex-wrap: wrap;
                width:60vw;
              }
             
              
              &:after{
                content:'';
                margin-left:4%;
                margin-right:4%;
                width:74px;

                background-image:url('../images/timeline/tunes/icon_audio_connect@2x.png');
                background-repeat: no-repeat;
                background-size:100%;
                background-position: left;
                height:80px;
                position: relative;
                left:0px;
                opacity:0;
                visibility: hidden;
                @media(max-width: $ipad + 'px'){
               
                }
                @media(max-width: $mobile + 'px'){
                  display:none;
                }
              }
 
              &:before{
                content:'';
                margin-left:4%;
                margin-right:4%;
                width:74px;

                background-image:url('../images/timeline/tunes/icon_audio_connect@2x.png');
                background-repeat: no-repeat;
                background-size:100%;
                background-position: left;
                height: 80px;
                position: relative;
                left: 0px;
                opacity:0;
                visibility: hidden;
                // background-size: 100% 100%;
                @media(max-width: $ipad + 'px'){
                 
                  
                }
                @media(max-width: $mobile + 'px'){
                  display:none;
                }
              }
             
              .tunes-image{
                // width:35%;
                // padding: 0px 10px;
                width: 35%;
                padding: 0px 10px;
                height: 240px;
                display: flex;
                align-items: center;
                justify-content: end;
                @media(max-width: $mobile + 'px'){
                  width:100%;
                  justify-content: center;
                }
                img{
                  // max-height:270px;
                  // max-width:270px;
                  width: 120%;
                  max-width: none;
                  @media(max-width: 1100px){
                    // max-height:250px;
                    // max-width:250px;
                  }
                  @media(max-width: $ipad + 'px'){
                    // max-height: 220px;
                    // max-width:220px;
                  }
                  @media(max-width: $mobile + 'px'){
                    // max-height:270px;
                    // max-width:270px;
                    max-width: 125%;
                    margin:0px auto;
                  }
                }
              }
 
              .tunes-details{
                width:40%;
                // min-width:369px;
                // padding: 0px 40px;
                @media(max-width: $ipad + 'px'){
                 
                  // text-align:center;
                  // padding-top:30px;
                  // padding-bottom:40px;
                }
                @media(max-width: $mobile + 'px'){
                  min-width: auto;
                  padding-left:10%;
                  padding-right:10%;
                  padding-top:0px;
                  width:100%;
                  text-align:center;
                }
                .title{
                  @media(max-width: $ipad + 'px'){
                    font-size: $h1-font-size - 4;
                    line-height: $h1-line-height - 4;
                  }
                 
                }
               
                .description-block{
                 
                  h5{
                    line-height: $h5-line-height + 6;
                    @media(max-width: $ipad + 'px'){
                      font-size:$h5-font-size - 4;
                      // max-width: 70%;
                      // margin: 0px auto;
                    }
                  }
                  a{
                    font-size: $anchor-font-size - 2;
                  }
                }
              }
            }
          }
          &.slick-active.slick-current.slick-center,
          &.slick-slide.slick-clone-current{
            .tunes-item{
              .tunes-content{
                opacity:1;
                //transition:all ease-in-out .4s;
                //-webkit-transition:all ease-in-out .4s;
                &:before{
                  opacity:0.2;
                  visibility: visible;
                  display: block;

                  @media(max-width: 1100px){
                    margin-left:3%;
                    margin-right:3%;
                  }
                  @media(max-width: $mobile + 'px'){
                    position: absolute;
                    top:  65px;
                    width: 60px;
                    left: -10%;
                    height: 80px;
                    margin:0px;
                  }
                  @media(max-width: $sm-mobile + 'px'){
                    width:40px;
                    top:65px;
                  }
                }
                &:after{
                  opacity:1;
                  visibility: visible;
                  display: block;
                  @media(max-width: 1100px){
                    margin-left:3%;
                    margin-right:3%;
                  }
                  @media(max-width: $mobile + 'px'){
                    position: absolute;
                    top: 65px;
                    width: 60px;
                    right: 50px;
                    height: 80px;
                    left:auto;
                    margin:0px;
                    right:-10%;
                  }
                  @media(max-width: $sm-mobile + 'px'){
                    width:40px;
                    top:65px;
                  }
                }
              }
            }
          }
         
        }
      }
      .slick-next{
        right:50px;
        @media(max-width: $ipad + 'px'){
          right:10px;
        }
      }
      .slick-prev{
        left:50px;
        @media(max-width: $ipad + 'px'){
          left:10px;
        }
      }
      .slick-arrow{
        top:40%;
        @media(max-width: $ipad + 'px'){
          top:134px;
        }
        @media(max-width: $ipad + 'px'){
          top:100px;
        }
        @media(max-width: $sm-mobile + 'px'){
          top:100px;
        }
      }
      .slick-dots{
        // bottom:-25px;
        bottom: 0px;
        z-index: 3;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        z-index: 3;
        @media(max-width: $mobile + 'px'){
          position: relative;
          bottom: 0px;
          margin-top: 50px;
          margin-bottom: 50px;
        }
       
      }
    }
 
    //.tunes-carousel .slick-list .slick-slide.slick-center.slick-current + .slick-slide .tunes-content{
    .slick-slide:not(.slick-current) .tunes-content{
      justify-content:flex-start !important;
      opacity:0.2;
      transition:all linear 1s;
    }
  }
}
 
 
.timeline-tunes-detail{
  .popover-container{
    padding: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    height: 100vh;

    @media all and (-ms-high-contrast:none) {
      display: block;
    }

    @media(max-width: $mobile + 'px'){
     
    }
    @media(max-width: $sm-mobile + 'px'){
     
    }
   
    .container{
      @media(max-width: $ipad + 'px'){
        max-width: none;
        padding: 0px 20px;
      }
    }
    .mentor-slide{
      .avatar{
        text-align:center;
        img{
         position:relative;
          left:auto;
          right:auto;
          transform: none;
          width:80%;
          height:auto;
          top:auto;
          margin: 0px auto;
          @media(max-width: $mobile + 'px'){
            max-width: 300px;
          }
        }
      }
 
      .details{
        max-height: 400px;
        max-width:none;
        overflow-y: auto;
        padding-right: 20px;
        margin: 0px 30px;
        @media(max-width: $ipad + 'px'){
          margin: 0px 15px 0px 0px;
        }
        @media(max-width: $mobile + 'px'){
          overflow-y: visible;
          margin: 30px 0px 0px 0px;
          max-height: none;
          padding: 0px 0px 50px 0px;
          h1,h5{
            text-align:center;
            max-width:350px;
            margin:0px auto;
          }
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            width:40px;
            background-color:#555555;
        }
 
        &::-webkit-scrollbar{
          width: 6px;         
        }
       
        &::-webkit-scrollbar-thumb {
          background-color: $primary-color;
        }
        h5{
          font-size: $h4-font-size - 2;
          line-height: $h5-line-height + 5;
          margin-bottom:30px;
        }
      }
    }
  }
}
 
.avatar.tunes{
  text-align: center;
  display: inline-flex;
  align-items: flex-start;
  justify-content: end;
  img{
    position: absolute;
    left: auto;
    right: auto;
    transform: none;
    width: 120% !important;
    height: auto;
    top: auto;
    margin: 0px auto;
  }
}
 
.popover{
  @media(max-width: $mobile + 'px'){
    padding-top:100px;
    footer{
      display:none;
    }
  }
 
}
 
@media(max-height: 600px){
  .timeline-page, .tunes-carousel, footer, .home-slider{
    position:relative;
  }
}