
/* Start - Reset Styles */
// html{
//     scroll-behavior: smooth;
// }
// html,body{
//     scroll-behavior: smooth;
// }

body{
    padding:0px;
    margin:0px;
    background-color:$body-color;
    color:$light-grey;
    position:relative;
}

.row{
    margin:0px;
}

.row .row [class^="col-"]{
    padding:0px;
}

img{
    max-width:100%;
}

/* End - Reset Styles */



// Coloring 
.title-blue{
    color:$primary-color;
}

.title-pink{
    color: $tunes-color;
}

.title-yellow{
    color: $secondary-color;
}

/* owl Carousel */
.owl-nav{
    .owl-prev{
        &.disabled{
            opacity:0.3;
        }
    }
    .owl-next{
        &.disabled{
            opacity:0.3;
        }
    }
}

/* Menu Toggler */
.body-contents{
    opacity:1;
    visibility: visible;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
}

.body-contents.content-toggle{
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -webkit-animation: contentAnimate .8s ease-in-out forwards;
    animation: contentAnimate .8s ease-in-out forwards;
}


.hide{
    opacity:0;
    visibility: hidden;
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
}

.container-2{
    width:100%;
    max-width:859px;
    margin:0px auto;
    @media(max-width: $mobile + 'px'){
        padding:0px 40px;
    }
}

.expanding-btn{
    a, button{
        font-size:$expanding-btn-font-size;
        line-height: $expanding-btn-line-height;
        letter-spacing: $expanding-btn-letter-spacing;
        text-transform: uppercase;
        padding: 15px 20px;
        font-weight: 900;
        display: inline-block;
        margin: 10px auto 10px;
        background-color: $secondary-color;
        border: 0px;
        position:relative;
        color: $body-color;
        text-decoration:none;
        left: -6px;
        top: -6px;
        transition: all ease-in-out .5s;
        -webkit-transition: all ease-in-out .5s;
        color: $body-color !important;
        &:after{
            content: '';
            background-color: transparent;
            width: 100%;
            height: 100%;
            border: 2px solid $white-color;
            position: absolute;
            left: 6px;
            top: 6px;
            z-index: -1;
            transition: all ease-in-out .5s;
            -webkit-transition: all ease-in-out .5s;
        }
        &:hover{
            cursor: pointer;
        }

        @media(max-width: $ipad + 'px'){
            padding:13px 17px;
        }
        @media(max-width: $sm-mobile + 'px'){
            font-size:$expanding-btn-font-size + 1;
            line-height: $expanding-btn-line-height + 1;
        }
        // &:hover{
        //     left: 0px;
        //     top: 0px;
        //     transition: all ease-in-out .3s;
        //     -webkit-transition: all ease-in-out .3s;
        //     &:after{
        //         left:0px;
        //         top:0px;
        //         transition: all ease-in-out .3s;
        //         -webkit-transition: all ease-in-out .3s;     
        //     }
        // }
    }
    &.disabled{
        opacity:0.2;
        &:hover{
            cursor: none;
        }
    }
}


.slick-prev{
    &.slick-arrow{
        z-index: 2;
    }
    &:before{
        content: '';
        background-image: url(../images/global/arrow_left@2x.png);
        height: 24px;
        display: block;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
}

.slick-next{
    &:before{
        content: '';
        background-image: url(../images/global/arrow_left@2x.png);
        height: 24px;
        display: block;
        background-repeat: no-repeat;
        background-size: auto 100%;
        transform:scaleX(-1);
    }
    &.slick-arrow{
        z-index: 2;
    }
}

.slick-dots{

    @media(max-width: $mobile + 'px'){
        position: relative;
        bottom: 0px;
        margin-top: -30px;
        margin-bottom: 50px;
    }
    li{
        border:2px solid #ffffff;
        border-radius: 100%;
        width:10px;
        height:10px;
        margin:0px 8px;
    }
    .slick-active{
        background-color:#ffffff;
    }
    
}


// toggler Switch 
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px;
    margin-bottom:0px;
    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $secondary-color;
        -webkit-transition: .4s;
        transition: .4s;
        &:before{
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 3px;
            bottom: 2px;
            background-color: #fff;
            -webkit-transition: .4s;
            transition: .4s;
            box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
        }
    }
    input{
        &:checked + .slider {
            background-color: $secondary-color;
        }
        &:focus + .slider{
            box-shadow: 0 0 1px $secondary-color;;
        }
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(32px);
        -ms-transform: translateX(32px);
        transform: translateX(32px);
    }
    
    .slider.round {
        border-radius: 34px;
        &:before {
            border-radius: 50%;
        }
    }
}
  
  
 
  
.popover{
    z-index:6;
    .close-overlay{
        width: 37px;
        height: 36px;
        color: transparent;
        background: transparent url('../images/mentors/close-btn.png') no-repeat top left;
        box-shadow: none;
        position: fixed;
        top: 50px;
        right: 50px;
        border: none;
        @media(max-width: $ipad + 'px'){
            top: 30px;
            right: 30px;
        }
    }
}

.tgsr-logo, .tgsr-logo-inside{
    a{
        &:after{
            display:none;
        }
    }
}

.for-desktop{
    display:block !important;
    @media(max-width: $mobile + 'px'){
        display:none !important;
    }
}

.for-mobile{
    display:none !important;
    @media(max-width: $mobile + 'px'){
        display:block !important;
    }
}



.order-sublist{
    ol{
        padding-left:0px;
        counter-reset: item;

        li{
            display:table;
            padding-bottom:20px;
            &:before{
                font-size:$h5-font-size;
                font-weight: bold;
                color: $primary-color;
                content: counters(item, ".");
                counter-increment: item;
                padding-right: 8px;
                display:table-cell;
                vertical-align: top;
                @media(max-width: $ipad + 'px'){
                    font-size:$h5-font-size - 2;
                }

                @media(max-width: $mobile + 'px'){
                    font-size:$h5-font-size - 4;
                    line-height:$h5-font-size - 4;
                }
                
            }
            h5{
                display:inline-block;
                @media(max-width: $mobile + 'px'){
                    text-align:left;
                }
            }
            p{
                margin-bottom:0px;
            }
            ol{
                padding-top:20px;
                padding-left:0px;
                li{
                    display:table;
                    &:before{
                        font-size:$body-font-size + 2;
                        padding-right: 10px;
                        display:table-cell;
                        vertical-align: top;
                    }
                    &:last-child{
                        margin-bottom:50px;
                    }
                    ol{
                        display:block;
                        padding-top: 10px;
                        padding-left: 0px;
                        li{
                            &:last-child{
                                margin-bottom:0px;
                            }
                        }
                    }
                }
            }
            ul{
                margin-top:15px;
                counter-reset: item;
                padding-left:0px;
                li{
                    padding-bottom:0px;
                    &:before{
                        content:'-';
                    }
                    strong{
                        font-family: 'din-pro',sans-serif;
                        font-weight: 900;
                    }
                }
                
            }
        }
    }

}

.slick-dots li.slick-active button:before, .slick-dots li button:before{
    color:transparent;
}