// Navigation menu icon music bars
@keyframes bar-animate {
    0%,100%,40% {
        height: 50%
    }
    10%,90% {
        height: 10%
    }
    30% {
        height: 80%
    }
    50% {
        height: 20%
    }
    70% {
        height: 70%
    }
}

// Navigation Menu close icon
@keyframes close-animate-1 {
    0% {
        transform: rotate(0) translate(0px, 0px);
        width: 0px;
    }
    5% {
        transform: rotate(0) translate(0px, 0px);
        width: 0px;
    }
    20% {
        transform: rotate(0) translate(0px, 0px);
        width: 26px;
    }
    50% {
        transform: rotate(45deg) translate(0px, 9px);
        width: 30px;
    }
    60% {
        transform: rotate(45deg) translate(0px, 9px);
        width: 25px;
    }
    75% {
        transform: rotate(45deg) translate(0px, 9px);
        width: 30px;
    }
    90% {
        transform: rotate(45deg) translate(0px, 9px);
        width: 22px;
    }
    100% {
        transform: rotate(45deg) translate(0px, 9px);
        width: 30px;
    }
}

@keyframes close-animate-2 {
    0% {
        width: 0px;
        opacity:1;
    }
    5% {
        width: 0px;
        opacity:1;
    }
    70% {
        width: 80%; 
        opacity:0.5;
    }
    100% {
        width: 160%;
        opacity:0; 
    }
}

@keyframes close-animate-3 {
    0% {
        transform: rotate(0) translate(0px, 0px);
        width: 0px;
    }
    5% {
        transform: rotate(0) translate(0px, 0px);
        width: 0px;
    }
    20% {
        transform: rotate(0) translate(0px, 0px);
        width: 26px;
    }
    50% {
        transform: rotate(-45deg) translate(0px, -9px);
        width: 30px;
    }
    60% {
        transform: rotate(-45deg) translate(0px, -9px);
        width: 25px;
    }
    75% {
        transform: rotate(-45deg) translate(0px, -9px);
        width: 30px;
    }
    90% {
        transform: rotate(-45deg) translate(0px, -9px);
        width: 22px;
    }
    100% {
        transform: rotate(-45deg) translate(0px, -9px);
        width: 30px;
    }
}


// Spot Light 
@keyframes left-spotLight-infinite {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(20deg);
    }
}

@keyframes right-spotLight-infinite {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

@keyframes navmobile-spotLight-infinite {
    0% {
        transform: rotate(42deg);
    }
    50% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(42deg);
    }
}

@keyframes mentor-spotLight-infinite {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}


// Compact Disc Animation
@keyframes disc-left-rotate {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(180deg);
    }
    40% {
        transform: rotate(250deg);
    }
    60% {
        transform: rotate(290deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Content height animation for header
@keyframes contentAnimate{
    0% {
        max-height:10000px;
        overflow: hidden;
    }
    50% {
        max-height:700px;
        overflow: hidden;
    }
    100% {
        max-height:0px;
        overflow: hidden;
    }
}

@keyframes content-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;

    }
  }
  
  @keyframes content-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      
    }
  }