/* Start Typography - Include Fonts & Text Styling */
// @import 'https://use.typekit.net/lhi2oiy.css';

@font-face {
    font-family: 'din-pro';
    src: url('../fonts/DINPro-Black.eot?#iefix') format('embedded-opentype'),
     url('../fonts/DINPro-Black.otf') format("opentype");
}


// common text
body, p, span{
    font-family:Din-2014, sans-serif;
    font-weight: 300;
    font-size: $body-font-size;
    letter-spacing: $body-letter-spacing;
    line-height: $body-line-height;
}

.popover{
    font-family:Din-2014, sans-serif;
    font-weight: 300;
}

h1{
    font-family:Din-2014,sans-serif;
    font-weight: 300;
    font-size: $h1-font-size;
    letter-spacing: $h1-letter-spacing;
    line-height: $h1-line-height;
}

h2{
    font-family: 'din-pro',sans-serif;
    font-weight: 900;
    font-size: $h2-font-size;
    line-height: $h2-line-height;
    letter-spacing: $h2-letter-spacing;
}

h3{
    font-family: 'din-pro',sans-serif;;
    font-weight: 900;
    font-size: $h3-font-size;
    line-height: $h3-line-height;
    letter-spacing: $h3-letter-spacing;
}

h4{
    font-family: 'din-pro',sans-serif;;
    font-weight: 900;
    font-size: $h4-font-size;
    line-height: $h4-line-height;
    letter-spacing: $h4-letter-spacing;
}

h5{
    font-family: 'din-pro',sans-serif;;
    font-weight: 900;
    font-size: $h5-font-size;
    line-height: $h5-line-height;
    letter-spacing: $h5-letter-spacing;
}

h6{
    font-family: 'din-pro',sans-serif;;
    font-weight: 900;
    font-size: $h6-font-size;
    line-height: $h6-line-height;
    letter-spacing: $h6-letter-spacing;
}

a{
    font-size: $anchor-font-size;
    color: $secondary-color;
    text-decoration:none !important;
    position:relative;
    display:inline-block;
    &:after{
        content:'';
        display:block;
        border-bottom:1px solid $secondary-color;
        height:1px;
        width:auto;
        left:0px;
        right:0px;
        
    }
    &:hover{
        color: $white-color;
    }
    &.no-line{
        &:after{
            display:none;
        }
    }
}



// footer Text
footer{
    .title{
        font-family:Din-2014,sans-serif;
        font-size: $footer-title;
    }
}

/* Navigation */
.nav-menu{
    .main-links a {  
        font-family: din-pro;
        font-weight: 900;
        color: $light-grey;
        text-decoration: none;
        font-size: $main-font-size;
        line-height: $main-line-height;
        letter-spacing: $main-letter-spacing;
        &:hover{
            color:$secondary-color;
        }
    }
    .other-links a {
        font-family:Din-2014,sans-serif;
        color: $light-grey;
        text-decoration: none;
        font-size: $other-font-size;
        line-height: $other-line-height;
        letter-spacing: $other-letter-spacing;
        &:hover{
            color:$secondary-color;
        }
    }
}



/* small navigation */

.about-the-programme-fa-qs-term {
    height: 84px;
    width: 135px;
    color: #EEEEEE;
    font-family: "DIN 2014";
    font-size: 6px;
    // letter-spacing: 25px;
    line-height: 13px;
    text-align: center;
}

// Alumini Info
.alumini-page{
    .title{
        font-family: din-pro;
        font-weight: 900;
        font-size: $body-font-size + 3;
        line-height: $body-line-height - 5;
    }
}



@media(max-width: $medium-screen + 'px'){
    body{
        font-size: $body-font-size - 1;
        line-height: $body-line-height - 1;
    }
    
    h1{
        font-size: $h1-font-size;
        line-height: $h1-line-height;
    }
    
    h2{
        font-size: $h2-font-size;
        line-height: $h2-line-height;
    }
    
    h3{
        font-size: $h3-font-size - 8;
        line-height: $h3-line-height;
    }
    
    h4{
        font-size: $h4-font-size;
        line-height: $h4-line-height;
    }
    
    h5{
        font-size: $h5-font-size - 2;
        line-height: $h5-line-height - 2;
    }
    
    h6{
        font-size: $h6-font-size;
        line-height: $h6-line-height;
    }
    
    a{
        font-size: $anchor-font-size;
    }
}

@media(max-width: $mobile + 'px'){
    body{
        font-size: $body-font-size - 1;
        line-height: $body-line-height - 1;
    }
    
    h1{
        font-size: $h1-font-size;
        line-height: $h1-line-height;
    }
    
    h2{
        font-size: $h2-font-size;
        line-height: $h2-line-height;
    }
    
    h3{
        font-size: $h3-font-size - 8;
        line-height: $h3-line-height;
    }
    
    h4{
        font-size: $h4-font-size;
        line-height: $h4-line-height;
    }
    
    h5{
        font-size: $h5-font-size - 4;
        line-height: $h5-line-height - 4;
    }
    
    h6{
        font-size: $h6-font-size;
        line-height: $h6-line-height;
    }
    
    a{
        font-size: $anchor-font-size;
    }
}

/* End Typography - Include Fonts & Text Styling */